#logo {
    background-color: rgb(239, 163, 65);
    border-radius: 4px;
    
    padding: 0.4em;
    /* width: max(50px, 6vw); */
}

header {
    background-color: rgb(222, 167, 96);
    display: flex;
    width: 100%;
    height: 80px;
    gap: 12px;
    padding: 10px;
}

h1 {
    color: rgb(97, 86, 86);
    font-size: min(5vw, 1.8em);
    align-items: center;
    margin: 16px auto;
}

nav > ul  {
    display: flex;
    justify-content: space-evenly;
    gap: 12px;
    margin: 22px 24px;
}

nav li {
    display: block;
    /* margin: 0 0.2em; */
    padding: 0.2em;
}

nav > ul > li > a {
    color: rgb(246, 219, 186);
    font-weight: 800;
    font-style: bold;
    text-align: center;
    text-decoration: none;
}

h1, h2 {
    font-family: "verdana", sans-serif;
}

h2 {
    border-bottom: 4px solid #dfdfe2;
}