#logo {
    background-color: rgb(239, 163, 65);
    border-radius: 4px;
    aspect-ratio: 35/4;
    padding: 0.4em;
    width: max(50px, 6vw);
}

header {
    background-color: rgb(222, 167, 96);
    display: flex;
    width: 100%;
    height: 80px;
    margin: 0px;
    padding: 10px;
}