*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Baskervville, serif;
  color: linen;
  background-color: #1e7351;
}

h1 {
  font-family: Anton, sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway, sans-serif;
}

a {
  text-decoration: none;
  color: linen;
}

main {
  display: grid;
  grid-template-columns:
    minmax(2rem, 1fr) minmax(min-content, 94rem)
    minmax(2rem, 1fr);
  row-gap: 3rem;
}

.heading {
  display: grid;
  grid-column: 2/3;
  row-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.text {
  grid-column: 2 / 3;
  font-size: 1.8rem;
  letter-spacing: 0.6rem;
  column-width: 25rem;
  text-align: justify;
}

.hero {
  grid-column: 1 / -1;
  position: relative;
}

img {
  width: 100%;
  object-fit: cover;
}

.hero-title {
  font-size: 8rem;
  color: lightgreen;
  text-align: center;
}

.hero-subtitle {
  font-size: 2.4rem;
  color: lightgreen;
  text-align: center;
}

.author {
  font-size: 2rem;
  font-family: Raleway, sans-serif;
}

.author-name a:hover {
  background-color: burlywood;
}

.publish-date {
  color: rgba(255, 255, 255, 0.5);
}

.social-icons {
  display: grid;
  font-size: 3rem;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}

.first-paragraph::first-letter {
  font-size: 6rem;
  color: lightgreen;
  margin-right: 1rem;
  float: left;
}

hr {
  margin: 1.5rem 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.quote {
  font-size: 2.4rem;
  font-family: Raleway, sans-serif;
  align-items: center;
  color: #03e8fc;
  text-justify: none;
}
