* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(90deg, #bf324e, #e30b36);
  color: white;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 150px);
}

h1 {
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

.author-name {
  font-family: Helvetica, sans-serif;
  font-size: 1.75rem;
}

.date {
  font-family: Helvetica, sans-serif;
  font-size: 1.75rem;
}

.social-icons a {
  font-size: 1.75rem;
  color: white;
  text-decoration: none;
  margin-right: 0.5rem;
}

#Heading {
  grid-column: 2 / 3;
}

#Image-wrapper {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

#Text {
  grid-row: 5 / 6;
  grid-column: 2 / 3;
}

#Cards {
  grid-row: 6 / 7;
  grid-column: 2 / 3;
}
