* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(90deg, #bf324e, #e30b36);
  color: white;
}

main {
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(min-content, 86rem);
  grid-template-rows: repeat(4, 250px);
}

/* Section one */
h1 {
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

.author {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  color: #9795f5;
  padding-top: 0.5rem;
  padding-bottom: 0.75rem;
  margin-left: 6rem;
}

.author-name {
  font-family: Helvetica, sans-serif;
  font-size: 1.75rem;
}

.date {
  font-family: Helvetica, sans-serif;
  font-size: 1.75rem;
}

.social-icons a {
  font-size: 1.75rem;
  color: white;
  text-decoration: none;
  margin-right: 3rem;
}
.social-icons {
  margin-left: 6rem;
}

.image-1,
.image-2 {
  border-radius: 10px;
}

#Heading {
  grid-column: 2 / 3;
}
/* End Section one */

/* Section two */
#Image-wrapper {
  margin-top: -12rem;
  display: flex;
  flex-direction: row;
  margin-left: 17rem;
  gap: 2rem;
}
/* End Section two */

/* Section three */
#Text {
  grid-column: 1 / 3;
  font-size: 2.2rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

#Text div {
  margin-top: 6rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.paragraph-1 {
  grid-column: 1 / 4;
  text-justify: justify;
}

.paragraph-2 {
  grid-column: 4 / 7;
  text-justify: justify;
}
/* End Section three */

#Cards {
  grid-row: 6 / 7;
  grid-column: 2 / 3;
}
