#logo {
    width: max(100px, 18vw);
    background-color: #0a0a23;
    aspect-ratio: 35/4;
    padding: 0.4rem;
  }

  header {
    background-color: #1b1b32;
    width: 100%;
    height: 50px;
    display: flex;
  }

  h1 {
    color: #f1be32;
    font-size: min(5vw, 1.2em);
  }