#logo {
    width: max(100px, 18vw);
    background-color: #0a0a23;
    aspect-ratio: 35/4;
    padding: 0.4rem;
  }

  header {
    background-color: #1b1b32;
    width: 100%;
    height: 50px;
    display: flex;
  }

  h1 {
    color: #f1be32;
    font-size: min(5vw, 1.2em);
  }

  nav > ul{
    display: flex;
    justify-content: space-evenly;
  }

  h1, h2{
    font-family: "Verdana", sans-serif;
  }

  h2 {
    border-bottom: 4px solid #dfdfe2;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  
p::before {
  content: "Question #";
}

nav > ul > li {
  color: #dfdfe2;
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
}

li > a {
  color: white;
}

nav li:hover {
  background-color: #dfdfe2;
  color: #1b1b32;
  cursor: pointer;
}

header {
  width: 100%;
  height: 50px;
  background-color: #1b1b32;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

h1 {
  color: #f1be32;
  font-size: min(5vw, 1.2em);
  flex-wrap: nowrap;
  text-align: center;
}

main {
  padding-top: 25px;
}