html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

#piano {
  background-color: burlywood;
  width: 992px;
  height: 290px;
  padding: 90px 20px 0px 20px;
  margin: 80px auto;
}

.keys {
  background-color: cadetblue;
  width: 949px;
  height: 180px;
}

.key {
  background-color: whitesmoke;
  width: 41px;
  height: 175px;
  float: left;
  padding-left: 2px;
}
