html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

#piano {
  background-color: burlywood;
  width: 992px;
  height: 290px;
  padding: 90px 20px 0px 20px;
  margin: 80px auto;
  position: relative;
  border-radius: 10px;
}

.keys {
  background-color: cadetblue;
  width: 949px;
  height: 180px;
  padding-left: 2px;
  overflow: hidden;
}

.key {
  background-color: whitesmoke;
  position: relative;
  width: 41px;
  height: 175px;
  float: left;
  margin: 2px;
  border-radius: 0px 0px 3px 3px;
}

.key.black--key::after {
  background-color: gray;
  content: "";
  position: absolute;
  left: -18px;
  width: 32px;
  height: 100px;
  border-radius: 0px 0px 3px 3px;
}

img {
  width: 250px;
  position: absolute;
  top: 10px;
}

@media (max-width: 768px) {
  #piano {
    width: 358px;
  }

  .keys {
    width: 318px;
  }

  img {
    width: 150px;
  }
}

@media (max-width: 1199px) {
  #piano {
    width: 675px;
  }
}
