html {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: normal;
}

nav > a {
  display: block;
  text-decoration: none;
  color: gray;
  font-size: 16px;
  margin-bottom: 24px;
}

nav {
  background-color: cornsilk;
  width: 19%;
  min-width: 250px;
  height: 98vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

#main-doc {
  width: 80%;
  min-width: 600px;
  background-color: azure;
  margin: 0 auto;
  position: absolute;
  left: 260px;
  right: auto;
}

#nav-head {
  font-size: 28px;
  padding-left: 16px;
  font-weight: 500;
  padding-bottom: 14px;
}
