* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  color: rgb(113, 111, 111);
}

/* ::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(65, 62, 62);
  border-radius: 10px;
}

.nav-order {
  overflow: auto;
} */

#navbar {
  width: 100%;
  height: 93.5vh;
  border-right: 3px solid gray;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.nav-order li .nav-link {
  display: block;
  text-decoration: none;
  font-size: 19px;
  color: gray;
  padding: 10px 30px;
}

.nav-link {
  list-style: none;
  text-align: left;
  border-top: 1px solid black;
}

.nav-head {
  font-weight: 500;
  font-size: 28px;
  text-align: left;
  color: black;
  padding: 15px 26px 20px 26px;
}

h2 {
  color: blue;
  font-weight: 500;
  font-size: 1.7rem;
  padding-bottom: 15px;
}

#Introduction {
  margin-top: 280px;
}

section {
  margin-top: 30px;
  margin-left: 30px;
}

.last {
  border-bottom: 1px solid black;
}

p {
  font-size: 15px;
  margin-bottom: 14px;
  margin-right: 60px;
}

.ul-indent {
  margin-left: 40px;
  line-height: 20px;
  padding-bottom: 20px;
}

.test {
  padding-bottom: 10px;
}

#disc {
  list-style: circle;
  margin-left: 20px;
}

code {
  display: block;
  width: 60%;
  background-color: gray;
  color: white;
  border-radius: 6px;
  white-space: pre-wrap;
  text-align: left;
  padding-left: 8px;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

@media only screen and (max-width: 1200px) {
  #navbar {
    width: 100%;
    height: 40vh;
    border-bottom: 3px solid black;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    float: top;
  }

  /* #Introduction {
    padding-top: 22%;
  } */
}

@media only screen and (max-width: 1085px) {
  /* #Introduction {
    padding-top: 26%;
  } */
}
