* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  color: rgb(113, 111, 111);
}

#navbar {
  width: 100%;
  height: 93.5vh;
  border-right: 4px solid gray;
  position: sticky;
  top: 0;
  left: 0;
}

.nav-order li .nav-link {
  display: block;
  text-decoration: none;
  font-size: 16px;
  color: gray;
  padding: 10px 30px;
}

.nav-link {
  list-style: none;
  text-align: left;
  border-top: 1px solid black;
}

.nav-head {
  font-weight: 500;
  font-size: 28px;
  text-align: left;
  color: black;
  padding: 15px 26px 20px 26px;
}

h2 {
  color: black;
  font-weight: 500;
  font-size: 1.7rem;
  padding-bottom: 15px;
}

section {
  margin-top: 40px;
  margin-left: 30px;
}

.last {
  border-bottom: 1px solid black;
}

p {
  font-size: 15px;
  margin-bottom: 14px;
  margin-right: 60px;
}

.ul-indent {
  margin-left: 40px;
  line-height: 20px;
  padding-bottom: 20px;
}

.test {
  padding-bottom: 10px;
}

#disc {
  list-style: circle;
  margin-left: 20px;
}

code {
  display: block;
  width: 60%;
  background-color: gray;
  color: white;
}