.canvas {
    width: 500px;
    height: 600px;
    background-color:rgba(213, 33, 33, 0.521);
}

.frame {
    border: 50px solid black;
    width: 500px;
    margin: auto;
    padding: 50px;
}

.one {
    width: 400px;
    height: 150px;
    background-color: burlywood;
    margin: 20px auto;
    transform: rotate(-0.6deg);
    box-shadow: 0 0 2px 3px burlywood;
}

.two {
    width: 470px;
    height: 200px;
    background-color:crimson;
    margin: 0 auto 20px ;
}

.three {
    width: 460px;
    height: 170px ;
    background-color: chocolate;
    margin: 10px auto;
}

.one, .two{
    filter: blur(2px);
}