.canvas {
    width: 500px;
    height: 600px;
    background-color: #4d0f00;
  }

  .frame {
    border: 50px solid black;
    width: 500px;
    padding: 50px;
    margin: 20px auto;
  }

  .one {
    width: 425px;
    height: 150px;
    background-color: #efb762;
    margin: 20px auto;
    padding: 1px;
    /* replace padding to overflow */
    overflow: hidden;
  }

  .two {
    width: 475px;
    height: 200px;
  }