html {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

section {
  margin: 0 auto;
  max-width: 40rem;
  border: 2px solid chocolate;
}

h1 {
  padding: 0.32rem 0 0.32rem 0.32rem;
}
