html {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

section {
  margin: 0 auto;
  max-width: 40rem;
  border: 2px solid chocolate;
}

h1 {
  padding: 0.32rem 0 0.32rem 0.82rem;
}

h1.flex {
  display: flex;
  flex-direction: column-reverse;
  margin: 10px;
  gap: 1rem;
}

h1.flex span:first-of-type {
  font-size: 0.7em;
}

#years {
  background: coral;
  color: white;
  padding: 7px;
  text-align: right;
  margin: 0 -2px;
}

#years span[class] {
  font-weight: bold;
  padding: 0 1rem;
}
