html {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

section {
  margin: 0 auto;
  max-width: 40rem;
  border: 2px solid chocolate;
}

h1 {
  padding: 0.32rem 0 0.32rem 0.82rem;
}

h1.flex {
  display: flex;
  flex-direction: column-reverse;
  margin: 10px;
  gap: 1rem;
}

#years {
  background: coral;
  color: white;
  padding: 7px;
}
