* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #1c3145;
  color: #d6d187;
}

.container {
  display: flex;
  flex-direction: row;
}

.nav-left {
  width: 45%;
  height: 100vh;
  background-color: #354866;
  text-align: center;
}

.nav-left ul {
  margin: 8rem 0;
}

.nav-left ul li {
  list-style: none;
}

.nav-left ul li a {
  text-decoration: none;
  color: #d6d187;
  font-size: 2rem;
  font-family: "Merriweather", serif;
}

.nav-para {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  text-transform: capitalize;
  padding-bottom: 1.75rem;
}

.btn {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  text-decoration: none;
  color: #d6d187;
  border: 2px solid #d6d187;
  border-radius: 20px;
  padding: 0.6rem;
}
