* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #1c3145;
  color: #d6d187;
}

.navigation-left {
  background-color: #2c3347;
  width: 20%;
  height: 100vh;
}

.nav-left {
  padding: 6rem;
  margin-top: 4rem;
}

.nav-left > ul > li {
  list-style: none;
  padding-top: 1rem;
}

.nav-left > ul > li > a {
  color: white;
  font-size: 2rem;
  font-family: "Merriweather", serif;
  text-decoration: none;
}

.description {
  text-align: center;
  text-transform: capitalize;
  color: white;
  font-size: 2rem;
}

.nav-para {
  padding-bottom: 1rem;
}

.description a {
  color: white;
  text-decoration: none;
}
