* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #1c3145;
  color: #d6d187;
}

.container {
  display: flex;
  flex-direction: row;
}

.nav-left {
  width: 45%;
  height: 100vh;
  background-color: #354866;
}
