* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #1c3145;
  color: #d6d187;
}

.navigation-left {
  background-color: #2c3347;
  width: 20%;
  height: 100vh;
}

.nav-left {
  padding: 2rem;
}

.nav-left > ul > li {
  list-style: none;
}
