:root {
  --background: #1c3145;
  --fontground: #d6d187;
  --navground: #354866;
  --paragraphy: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: row;
  background: var(--background);
  overflow-x: hidden;
}

/* start Nav-Left */
.nav-left-title {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  color: var(--fontground);
  text-transform: uppercase;
  /* border-bottom: 1px solid var(--paragraphy); */
  padding-top: 1rem;
  cursor: pointer;
}
.fa-github {
  color: black;
}
.fa-linkedin {
  color: rgb(49, 146, 243);
}
.fa-twitter {
  color: deepskyblue;
}

.nav-left {
  width: 45%;
  max-width: 274px;
  height: 100vh;
  background: var(--navground);
  text-align: center;
  position: fixed;
  border-top-right-radius: 20px;
}

.nav-left ul {
  margin: 8rem 0;
}

.nav-left ul li {
  list-style: none;
  padding: 0.5rem;
}

.nav-left ul li a {
  text-decoration: none;
  color: var(--fontground);
  font-size: 2rem;
  font-family: "Merriweather", serif;
  transition: font-weight 0.3s ease;
}

.nav-left ul li a:hover {
  font-weight: 700;
}

.description {
  border-top: 1px solid var(--paragraphy);
}

.nav-para {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  text-transform: capitalize;
  padding: 1.75rem 0;
  color: var(--paragraphy);
}

.btn {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  text-decoration: none;
  color: var(--paragraphy);
  border: 2px solid var(--fontground);
  border-radius: 20px;
  padding: 0.6rem;
}

.btn:hover {
  background-color: var(--background);
}
/* ends Nav-Left */

/* start Main-Content */
#main-content {
  margin-left: 278px;
}

/* start Main-Nav */
.main-nav-title {
  font-family: "Merriweather", serif;
  font-size: 3rem;
  color: var(--fontground);
  text-transform: uppercase;
  text-align: center;
  padding-top: 2rem;
}

.main-nav-title span {
  color: var(--paragraphy);
}

.main-line {
  width: 10%;
  margin: 0 auto;
  border-color: var(--fontground);
}

.main-nav .main-ul {
  margin: 2rem 0;
}

.main-ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-nav .main-ul li {
  list-style: none;
  padding: 0.5rem;
}

.main-nav .main-ul li a {
  text-decoration: none;
  color: var(--fontground);
  font-size: 2rem;
  font-family: "Merriweather", serif;
  transition: font-weight 0.3s ease;
}

.main-nav .main-ul li a:hover {
  font-weight: 700;
}

.main-description {
  text-align: center;
  margin-bottom: 4rem;
}

.main-para {
  font-family: "Merriweather", serif;
  font-size: 4rem;
  text-transform: capitalize;
  padding: 1.75rem 0;
  color: var(--paragraphy);
}

.main-btn {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  text-decoration: none;
  color: var(--paragraphy);
  border: 2px solid var(--fontground);
  border-radius: 20px;
  padding: 0.6rem;
}

.main-btn:hover {
  background-color: var(--navground);
}
/* end Main-Nav */

/* start Heading */
.header-img {
  width: 100%;
}
/* ends Heading */

/* start About */
#About {
  text-align: center;
  margin: 4rem 0;
}

.about-title {
  font-family: "Merriweather", serif;
  font-size: 4rem;
  color: var(--fontground);
  padding-bottom: 1rem;
}

.about-para {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--paragraphy);
  padding: 0 1.5rem;
}
/* ends About */

/* start Service */
#Service {
  text-align: center;
  padding-top: 2rem;
}

.service-head {
  font-family: "Merriweather", serif;
  font-size: 1.5rem;
  color: var(--paragraphy);
  padding-bottom: 0.5rem;
}

hr {
  width: 10%;
  margin: 0 auto;
  border-color: var(--fontground);
}

.service-title {
  font-family: "Merriweather", serif;
  font-size: 4rem;
  color: var(--fontground);
  padding-top: 1rem;
}

.service-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 1rem;
}

.service-img {
  width: 400px;
  height: 200px;
}
/* ends Service */

/* start Contact */
#Contact {
  padding-top: 4rem;
  text-align: center;
}

.contact-title {
  font-family: "Merriweather", serif;
  font-size: 4rem;
  color: var(--fontground);
}

.contact-para {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  color: var(--paragraphy);
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.social-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.icons {
  text-decoration: none;
  color: var(--paragraphy);
  font-size: 2.5rem;
  padding: 0.5rem;
}
/* ends Contact */

/* start Footer */
#footer {
  margin: 4rem 0 1rem 0;
  text-align: center;
}

.footer-wrap {
  font-family: "Merriweather", serif;
  color: var(--fontground);
}

.footer-title {
  font-size: 1.7rem;
  text-decoration: overline;
  padding-bottom: 0.5rem;
}

.footer-para {
  font-size: 1.2rem;
}
/* ends Footer */

/* Media */
@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

@media only screen and (max-width: 1360px) {
  .main-ul,
  .main-description {
    visibility: hidden;
  }

  .header-img {
    margin-top: -8rem;
  }

  .main-nav-title,
  .main-line {
    position: relative;
    bottom: -6rem;
  }
}

@media only screen and (max-width: 1087px) {
  .nav-left {
    visibility: hidden;
  }

  #main-content {
    margin-left: 0px;
  }

  .main-ul,
  .main-description {
    visibility: visible;
  }

  .header-img {
    margin-top: 0rem;
  }

  .main-nav-title,
  .main-line {
    position: relative;
    bottom: 1rem;
  }
}

@media only screen and (max-width: 640px) {
  .about-para {
    font-size: 1.75rem;
  }
}

@media only screen and (max-width: 510px) {
  .main-para {
    font-size: 3rem;
  }
}
