:root {
  --background: #1c3145;
  --fontground: #d6d187;
  --navground: #354866;
  --paragraphy: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: row;
  background: var(--background);
}

.nav-left {
  width: 45%;
  max-width: 274px;
  height: 100vh;
  background-color: #354866;
  text-align: center;
  position: fixed;
  border-top-right-radius: 20px;
}

.nav-left ul {
  margin: 8rem 0;
}

.nav-left ul li {
  list-style: none;
  padding: 0.5rem;
}

.nav-left ul li a {
  text-decoration: none;
  color: #d6d187;
  font-size: 2rem;
  font-family: "Merriweather", serif;
}

.nav-para {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  text-transform: capitalize;
  padding-bottom: 1.75rem;
  color: white;
}

.btn {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  text-decoration: none;
  color: white;
  border: 2px solid #d6d187;
  border-radius: 20px;
  padding: 0.6rem;
}

#main-content {
  margin-left: 278px;
}

.header-img {
  width: 100%;
}

.About {
  text-align: center;
  margin: 4rem 0;
}

.about-title {
  font-family: "Merriweather", serif;
  font-size: 4rem;
  padding-bottom: 1rem;
}

.about-para {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  text-transform: capitalize;
  color: white;
  padding: 0 1.5rem;
}

.Service {
  text-align: center;
}

.service-head {
  font-family: "Merriweather", serif;
  font-size: 1.5rem;
  color: white;
  padding-bottom: 0.5rem;
}

hr {
  width: 10%;
  margin: 0 auto;
  border-color: #d6d187;
}
