body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #1b1b32;
    color: white;
    font-family: Tahoma;
    font-size: 16px;
}

label {
    display: block;
    margin: 0.5rem 0;
}

h1, p {
    margin: 1em auto;
    text-align: center;
}

form {
    margin: 0 auto;
    min-width: 300px;
    max-width: 500px;
    width: 60vw;
}

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {
    border-bottom:none;
}

input, textarea, select {
    margin: 10px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.inline {
    width: unset;
    margin-right: 0.5em;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    vertical-align: middle;
}

input, textarea {
    background-color: #0a0a23;
    border: #0a0a23;
    color: white;
}

input, textarea, select {
    min-height: 2em;
    width: 100%;
}

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 5px auto;
    height: 2rem;
    font-size: 1.1em;
    text-transform: capitalize;
    background-color: #3b3b4f;
    border-color: white;
    min-width: 300px;
}

a {
  color: white;
}

input[type="file"] {
    padding: 1px 2px;
}