body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #1b1b32;
    color: white;
    font-family: Tahoma;
    font-size: 16px;
}

label {
    display: block;
    margin: 0.5rem 0;
}

h1, p {
    margin: 1em auto;
    text-align: center;
}

form {
    margin: 0 auto;
    min-width: 300px;
    max-width: 500px;
    width: 60vw;
}