h1 {
    text-align: center;
}

.container {

}

.one {
    width: 250px;
    height: 30px;
    background-color: black;
}

.two {
    width: 250px;
    height: 30px;
    background-color: black;
}

.three {
    width: 250px;
    height: 30px;
    background-color: black;
}