* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

/* start Navbar */
nav {
  background-color: #42c5f5;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

ul li {
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

li a {
  font-size: 2.5rem;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  padding: 1rem;
}
/* ends Navbar */

/* start Heading */
header {
  height: 100vh;
  background-color: #635c5c;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-title {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  color: white;
}

.header-para {
  font-size: 2rem;
  text-align: center;
  padding-top: 0.8rem;
  color: #42c5f5;
}
/* ends Heading */

/* start Work */
.work-content {
  width: 100%;
  height: 150vh;
  background-color: #2e5ca6;
}

.work-title {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: white;
  padding-top: 8rem;
  padding-bottom: 0.5rem;
}

.work-content hr {
  width: 450px;
  margin: auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.card {
  text-decoration: none;
}

.card img {
  width: 80%;
  height: 80%;
}

.card p {
  width: 80%;
  font-size: 1.75rem;
  background-color: #635c5c;
  color: white;
  text-align: center;
  padding: 1rem;
}
/* ends Work */

.wrap-content {
  background-color: #635c5c;
  width: 100%;
  height: 85vh;
}

.content-title {
  text-align: center;
  color: white;
  font-size: 3.5rem;
  font-family: "Roboto", sans-serif;
  padding-top: 14rem;
}

.content-para {
  text-align: center;
  color: white;
  font-size: 1.85rem;
  font-style: italic;
  padding-top: 1rem;
}

i {
  font-size: 2.5rem;
  color: white;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-transform: capitalize;
  gap: 30px;
  padding-top: 5rem;
}

.footer {
  position: relative;
  bottom: -150px;
}

.footer-para {
  color: white;
  font-size: 2rem;
  font-weight: 600;
}

.footer hr {
  background-color: #42c5f5;
  padding: 0.1rem;
}
