* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

nav {
    background-color: #42c5f5;
}

ul {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
}

ul li {
    padding: 1rem;
    display: flex;
    flex-direction: row;
}

li a {
    font-size: 2.5rem;
    font-weight: bolder;
    color: white;
    text-decoration: none;
    padding: 1rem;
}