* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

/* start Navbar */
nav {
  background-color: #42c5f5;
  position: fixed;
  right: 0;
  left: 0;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.3);
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

ul li {
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

ul li:hover {
  background-color: #2e5ca6;
}

li a {
  font-size: 2.5rem;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  padding: 1rem;
}
/* ends Navbar */

/* start Heading */
header {
  height: 100vh;
  background-color: #635c5c;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-title {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  color: white;
}

.header-para {
  font-size: 2rem;
  text-align: center;
  padding-top: 0.8rem;
  color: #42c5f5;
}
/* ends Heading */

/* start Work */
.work-content {
  width: 100%;
  background-color: #2e5ca6;
}

.work-title {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: white;
  padding-top: 8rem;
  padding-bottom: 0.5rem;
}

.work-content hr {
  width: 450px;
  margin: auto;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px 50px;
  margin-top: 6rem;
}

.card {
  text-decoration: none;
  background-color: #635c5c;
}

.card img {
  width: 100%;
  max-width: 350px;
  height: 80%;
}

.card p {
  width: 100%;
  max-width: 350px;
  font-size: 1.75rem;
  color: white;
  text-align: center;
  padding-top: 1.2rem;
}

.cards .card span {
  opacity: 0%;
  padding: 0 5px;
}

.cards .card:hover span {
  opacity: 100%;
  color: #42c5f5;
  transition: opacity 0.5s ease-in-out;
}

.card-btn {
  text-decoration: none;
}

.fas {
  font-size: 2rem;
}

.card-btn {
  display: inline-block;
  background-color: #635c5c;
  color: white;
  font-size: 2rem;
  border: none;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  margin: 4rem 150px;
  cursor: pointer;
  transition: background 0.3s ease-out;
}

.card-btn:hover {
  background: #42c5f5;
}

.card-btn > i {
  margin-left: 5px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

.card-btn:hover > i {
  transform: translateX(2px);
}
/* ends Work */

/* start Contact */
.wrap-content {
  background-color: #635c5c;
  width: 100%;
  height: 90vh;
}

/* content-description */
.content-title {
  text-align: center;
  color: white;
  font-size: 3.5rem;
  font-family: "Roboto", sans-serif;
  padding-top: 14rem;
}

.content-para {
  text-align: center;
  color: white;
  font-size: 1.85rem;
  font-style: italic;
  padding-top: 1rem;
}

i {
  font-size: 2.5rem;
  color: white;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-transform: capitalize;
  gap: 30px;
  padding-top: 5rem;
}

.icons {
  transition: transform 0.5s ease-in-out;
}
.icons:hover {
  transform: translateY(10px);
}

/* content-description */

/* Footer */
.footer {
  background-color: #635c5c;
  position: relative;
  bottom: -180px;
}

.footer-para {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 2.5rem;
  gap: 20px;
}

.footer span {
  color: white;
  font-size: 2rem;
  font-weight: 600;
}

.footer hr {
  background-color: #42c5f5;
  padding: 0.1rem;
  border-color: #42c5f5;
}
/* Footer */
/* ends Contact */

@media only screen and (max-width: 850px) {
  .footer-para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    gap: 10px;
    padding-top: 1rem;
  }
}
