* {
  box-sizing: border-box;
}

body {
  border: 8px solid red;
  width: 370px;
  margin: 20px auto;
}

.image-1 {
  width: 50%;
}

.image-2 {
  width: 50%;
}

.row {
  display: flex;
  flex-direction: row;
}

.title-header {
  font-size: 23px;
  color: blue;
  text-decoration: overline underline;
  text-transform: uppercase;
  position: absolute;
  top: 180px;
  padding-left: 17px;
}

.sub-header {
  padding-left: 25px;
  position: absolute;
  bottom: 360px;
}

.sub-header h4 {
  color: blue;
  font-size: 18px;
  text-transform: capitalize;
  padding-left: 12px;
  line-height: 0px;
}

.sub-header h3 {
  font-size: 19px;
  color: blue;
  text-transform: capitalize;
  line-height: 0px;
}

main {
  padding: 0 6px;
}

.paragraphys:first-of-type {
  padding-top: 25px;
}

.paragraphys {
  text-transform: capitalize;
}

.blue {
  color: blue;
}

.bold {
  font-weight: bolder;
}

fieldset .blue {
  font-size: 20px;
  font-weight: bolder;
  text-transform: uppercase;
  line-height: 0;
}

li {
  text-transform: capitalize;
}

.space-top {
  padding-top: 15px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  background-color: blue;
  color: white;
  font-size: 12px;
  text-align: right;
  border-radius: 20px;
  position: absolute;
  bottom: -54%;
  left: 54%;
  padding: 3px 8px;
}

.flex-column i {
  font-size: 17px;
}
