* {
  box-sizing: border-box;
}

body {
  border: 8px solid red;
  width: 370px;
  margin: 20px auto;
}

.image-1 {
  width: 50%;
}

.image-2 {
  width: 50%;
}

.row {
  display: flex;
  flex-direction: row;
}

.title-header {
  font-size: 23px;
  color: blue;
  text-decoration: overline underline;
  text-transform: uppercase;
  position: absolute;
  top: 180px;
  padding-left: 17px;
}

.sub-header {
  padding-left: 25px;
}

.sub-header h4 {
  color: blue;
  font-size: 18px;
  text-transform: capitalize;
  padding-left: 12px;
}
