.wheel {
  border: 2px solid black;
  margin-left: 400px;
  border-radius: 50%;
  position: absolute;
  width: 55vw;
  height: 55vw;
  max-width: 500px;
  max-height: 500px;
}

.line {
  background-color: black;
  width: 50%;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
}
