* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 110px);
}

.grid-item {
    background-color: #ff40a0;
    text-align: center;
    margin: 5px;
    padding: 3px;
}

.item-1 {
    grid-column: 1 / 7;
}

.item-2 {
    grid-column: 1 / 7;
}

.text {
    display: flex;
    flex-direction: row;
    max-width: 100px;
}

.logo {
    width: 50px;
    height: 50px;
    margin: auto;
    background-color: #ff00ff;
    color: white;
    border-radius: 50%;
    text-align: center;
    padding-top: 15px;
    display:flex;
    flex-direction: column;
}

.item-3 {
    grid-column: 1 / 7;
}

.item-4 {
    grid-column: 1 / 7;
}

.item-5 {
    grid-column: 1 / 7;
}

.item-6 {
    grid-column: 1 / 7;
}