* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.grid-item {
    background-color: #ff40a0;
}

.item-1 {
    grid-column: 1 / 7;
}

.item-2 {
    grid-column: 1 / 7;
}

.item-3 {
    grid-column: 1 / 7;
}

.item-4 {
    grid-column: 1 / 7;
}

.item-5 {
    grid-column: 1 / 7;
}

.item-6 {
    grid-column: 1 / 7;
}