* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 108px);
}

.grid-item {
  background-color: crimson;
  color: white;
  grid-gap: 2px 2px;
  margin: 1px;
}

.item-1 {
  grid-column: 1 / 12;
}

.item-2 {
  grid-column: 1 / 5;
  grid-row: 2 / 4;
}

.item-3 {
  grid-column: 5 / 10;
  grid-row: 2 / 4;
}

.item-4 {
  grid-column: 1 / 5;
}

.item-5 {
  grid-column: 5 / 10;
}

.item-6 {
  grid-column: 1 / 3;
}

.item-7 {
  grid-column: 4 / 6;
}

.item-8 {
  grid-column: 7 / 9;
}

.item-9 {
  grid-column: 1 / 12;
}
