* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(6, 100px);
}

.grid-item {
  background-color: crimson;
  color: white;
}

.item-1 {
  grid-column: 1 / 12;
}

.item-2 {
  grid-column: 1 / 6;
  grid-row: 2 / 4;
}

.item-3 {
  grid-column: 6 / 12;
  grid-row: 2 / 4;
}

.item-4 {
  grid-column: 1 / 6;
}

.item-5 {
  grid-column: 6 / 12;
}

.item-6 {
  grid-column: 1 / 4;
}

.item-7 {
  grid-column: 4 / 8;
}

.item-8 {
  grid-column: 8 / 12;
}

.item-9 {
  grid-column: 1 / 12;
}
