* {
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 100px);
}

.grid-item {
  background-color: lightblue;
  color: white;
  text-align: center;
  column-gap: 10px;
  row-gap: 10px;
}

.item-1 {
  grid-row: 1 / span 6;
}

.item-2 {
  grid-column: 2 / 7;
}

.item-3 {
  grid-column: 2 / 7;
}

.item-4 {
  grid-column: 2 / 7;
}
