* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 108px);
}

.grid-item {
  background-color: lightslategray;
  color: white;
  text-align: center;
  column-gap: 10px;
  row-gap: 10px;
  padding: 5px;
  margin: 5px;
}

.item-1 {
  grid-row: 1 / span 6;
}

.item-2 {
  grid-column: 2 / 7;
}

.item-3 {
  grid-column: 2 / 7;
}

.item-4 {
  grid-column: 3 / 6;
  max-width: 550px;
}

.item-5 {
  grid-column: 2 / 7;
  max-width: 450px;
}

.item-6 {
  grid-column: 2 / 7;
  max-width: 450px;
}

.item-7 {
  grid-column: 2 / 7;
}
