* {
    margin: 0;
    padding: 0;
}


.circle-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2px;
}

.circle-one {
    position: relative;
    background-color: violet;
    box-shadow: 0 0 10px 10px rgba(143, 0, 255, 0.5);
}

.circle-two {
    position: absolute;
    left: 50%;
    background-color: transparent;
    box-shadow: 0 0 10px 10px rgba(146, 216, 237, 0.5);
}
   

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.card {
    width: 25%;
    height: 50vh;
    box-shadow: 0 0 6px 2px rgba(255, 255, 255, 0.5);
    background: gray;
    margin: 5em auto;
    border-radius: 10px;
    border: 1px solid gray;
}


