* {
    margin: 0;
    padding: 0;
}

.circle-one {
    position: relative;
    background-color: violet;
    box-shadow: 0 0 10px 10px rgba(143, 0, 255, 0.5);
}

.circle-two {
    position: absolute;
    left: 80%;
    background-color: skyblue;
    box-shadow: 0 0 10px 10px rgba(146, 216, 237, 0.5);
}
   

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;  
    left: 25%;
    top: 25%;
    z-index: -1;
}

.card {
    position: absolute;
    width: 25%;
    height: 50vh;
    box-shadow: 0 0 6px 5px rgba(255, 255, 255, 0.5);
    background: gray;
    margin: 5em;
    border-radius: 10px;
    border: 1px solid gray;
}

.title {
    text-align: center;   
}

