* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid-container {
  height: 100vh;
  padding: 10px;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 200px auto;
}

.grid-item {
  background-color: coral;
  border: 2px solid;
  padding: 20px;
  color: bisque;
}
