* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid-container {
  height: 100vh;
  padding: 10px;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(4, 150px);
  /* grid-auto-rows: 100px; */
  /* justify-items: center; */
  /* align-items: center; */
  /* justify-content: center;
  align-content: center; */
  /* grid-row-gap: 20px;
  grid-column-gap: 30px; */
  /* grid-gap: 20px; */
}

.grid-item {
  background-color: coral;
  border: 2px solid;
  padding: 20px;
  color: bisque;
}

.item-1 {
  /* grid-column-start: 1;
  grid-column-end: 3; */
  grid-column: 1 / 3;
}

.item-2 {
  /* grid-row-start: 1;
  grid-row-end: 3; */
  grid-row: 1 / span 2;
  /* grid-column-start: 3;
  grid-column-end: 4; */
  grid-column: 3 / span 1;
}

.item-3 {
  /* grid-row: 2 / span 2;
  grid-column: 1 / span 2; */
  grid-area: 2 / 1 / span 2 / span 2;
}

.item-4 {
  grid-row: 3 / span 2;
  grid-column: 2 / span 2;
}
