* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid-container {
  height: 100vh;
  padding: 10px;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px 100px;
  grid-auto-rows: 200px;
}

.grid-item {
  background-color: coral;
  border: 2px solid;
  padding: 20px;
  color: bisque;
}
