* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid-container {
  height: 100vh;
  padding: 10px;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: 200px 200px;
  /* grid-auto-rows: 100px; */
  /* justify-items: center; */
  /* align-items: center; */
  /* justify-content: center;
  align-content: center; */
  /* grid-row-gap: 20px;
  grid-column-gap: 30px; */
  /* grid-gap: 20px; */
}

.grid-item {
  background-color: coral;
  border: 2px solid;
  padding: 20px;
  color: bisque;
}

.item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.item-2 {
  grid-row-start: 1;
  grid-row-end: 3;
}
