* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a,
button {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: brown;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
}

.nav_link {
  list-style: none;
}

.nav_link li {
  display: inline-block;
  padding: 0 20px;
}

button {
  padding: 9px 25px;
}
