* {
  box-sizing: border-box;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 100px);
  grid-auto-rows: 40px;
  grid-gap: 4px 6px;
}

.grid-item {
  background-color: cadetblue;
  color: yellow;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}

.item-1 {
  grid-column: 1 / span 6;
}

.item-2 {
  grid-column: 1 / span 6;
  grid-row: 2 / 4;
}

.item-3 {
  grid-row: 4 / 5;
  grid-column: 1 / 4;
}

.item-4 {
  grid-row: 4 / 5;
  grid-column: 4 / 7;
}

.item-5 {
  grid-row: 5 / 6;
  grid-column: 1 / 4;
}

.item-6 {
  grid-row: 5 / 6;
  grid-column: 4 / 7;
}

.item-7 {
  grid-column: 1 / 7;
}
