* {
  box-sizing: border-box;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 140px);
  grid-auto-rows: 40px;
  grid-gap: 4px 6px;
}

.grid-item {
  background-color: cadetblue;
  color: white;
}

.item-1 {
  grid-column: 1 / 5;
}

.item-2 {
  grid-column: 1 / 5;
}

.item-3 {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
}
