body {
  background-color: antiquewhite;
}

#back-wall {
  background-color: cadetblue;
  width: 100%;
  height: 60%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#white-character {
  width: 300px;
  height: 550px;
  background-color: white;
  position: absolute;
  top: 20%;
  left: 17%;
}

#white-hat {
  width: 0;
  height: 0;
  background-color: aquamarine;
  border-style: solid;
}
