body {
  background-color: antiquewhite;
}

#back-wall {
  background-color: cadetblue;
  width: 100%;
  height: 60%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#white-character {
  width: 300px;
}
