body {
  background-color: antiquewhite;
}

#back-wall {
  background-color: cadetblue;
  width: 100%;
  height: 60%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#white-character {
  width: 300px;
  height: 550px;
  background-color: white;
  position: absolute;
  top: 20%;
  left: 17%;
}

#white-hat {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 120px 140px 180px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: white;
  position: absolute;
  top: -140px;
  left: 0;
}

#black-hat {
  width: 100%;
  height: 50px;
  background-color: crimson;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#gray-hat {
  width: 15%;
  height: 40%;
  background-color: rgb(151, 239, 239);
  position: absolute;
  top: 50px;
  left: 125px;
  z-index: 1;
}

.dots {
  width: 10px;
  height: 10px;
  background-color: blue;
  border-radius: 50%;
  margin: auto;
  margin-top: 28px;
}

.table {
  width: 400px;
  height: 150px;
  background-color: chocolate;
  position: absolute;
  top: 50%;
  left: 6%;
  z-index: 1;
}

#black-character {
  width: 300px;
  height: 500px;
  background-color: gray;
  position: absolute;
  top: 30%;
  left: 59%;
}

#black-mask {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 0 0 300px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: gray;
  position: absolute;
  top: -100px;
  left: 0;
}

#gray-mask {
  width: 150px;
  height: 150px;
  background-color: brown;
  position: absolute;
  top: 10px;
  left: 70px;
}

.blue {
  background-color: darkgreen;
}

#blue-left {
  width: 500px;
  height: 300px;
  position: absolute;
  top: 20%;
  left: 20%;
}

#blue-right {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 40%;
}

#white-paper {
  width: 400px;
  height: 100px;
  background-color: white;
  position: absolute;
  top: 250px;
  left: -200px;
  z-index: 1;
}

#orange-character {
  width: 250px;
  height: 550px;
  background-color: orange;
  position: absolute;
  top: 25%;
  left: 40%;
}

#black-round {
  width: 180px;
  height: 150px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: -100px;
  left: 5px;
  z-index: -1;
}

#eyes-div {
  width: 180px;
  height: 50px;
  background-color: red;
  position: absolute;
  top: -40px;
  left: 20px;
  z-index: 3;
}

#triangles {
  width: 250px;
  height: 550px;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 42px 45px 45px 0px;
  border-top-color: transparent;
  border-right-color: gold;
  border-bottom-color: transparent;
  border-left-color: transparent;
  display: inline-block;
}
