:root {
  --heading-color: #097168;
  --background-color: #dad3be;
  --fontground1-color: #3b3432;
  --fontground2-color: #ffffff;
  --gradient1: #ff9eaa;
  --gradient2: #83b4ff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
}

/* start styling header */

header {
  height: 48vh;
  background: linear-gradient(var(--gradient2) 40%, var(--gradient1));
}

.top-title {
  display: inline;
  font-size: 1.6rem;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: var(--fontground2-color);
  padding-left: 0.5rem;
}

.top {
  padding: 0.8rem 10rem;
}

.top-title-line {
  width: 120px;
  border: 1px solid var(--fontground2-color);
  opacity: 0%;
  margin-top: 0.7rem;
}

.top-title:hover .top-title-line {
  opacity: 100%;
  color: var(--fontground2-color);
  transition: opacity 0.2s ease-in-out;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 6rem;
  color: var(--fontground2-color);
  text-transform: capitalize;
  margin: 5rem 0rem 0rem 10rem;
}

.content-title > p {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: var(--fontground2-color);
  text-transform: capitalize;
  padding-top: 1rem;
  margin: 0 0 0 10rem;
}
/* Ends styling header */

/* start styling main */

/* Start Hidden Titles */
.main-title-hdn {
  font-family: "Oswald", sans-serif;
  font-size: 6rem;
  text-transform: capitalize;
  text-align: right;
  margin: 1.5rem 20rem 0 0;
  color: var(--heading-color);
}

.main-title-hdn .main-line {
  border: 1px solid var(--heading-color);
  width: 373px;
  margin: 0 0 0 auto;
}
/* Ends Hidden Titles */

.main-title {
  font-family: "Oswald", sans-serif;
  font-size: 6rem;
  text-transform: capitalize;
  text-align: right;
  margin: 1.5rem 20rem 0 0;
  color: var(--heading-color);
}

.main-title .main-line {
  border: 1px solid var(--heading-color);
  width: 373px;
  margin: 0 0 0 auto;
}

img {
  height: 50vh;
  border-radius: 80%;
  border: 8px solid #b7b597;
  margin: 0 0 0 2rem;
}

/* Hidden Images */
.hdn-img {
  height: 50vh;
  border-radius: 80%;
  border: 8px solid #b7b597;
  margin: 0 0 0 2rem;
}
/* Ends Hidden Images */

.para {
  font-family: "Oswald", sans-serif;
  font-size: 2.3rem;
  font-weight: 400;
  color: var(--fontground1-color);
  margin: 2rem 0 0 3rem;
  line-height: 3rem;
}

.contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  max-width: 900px;
}

.link {
  text-decoration: none;
  border: 1px solid blue;
  padding: 0 0.3rem;
  border-radius: 10px;
}

.link-code {
  text-decoration: none;
}

/* social media */

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-media a {
  font-size: 3rem;
  color: var(--fontground2-color);
  background-color: var(--heading-color);
  border-radius: 50px;
}

.social-media a:hover {
  background-color: var(--gradient2);
}

.social-media a:first-of-type {
  padding: 0.5rem 0.8rem;
}

.social-media a:nth-child(2) {
  padding: 0.5rem 0.8rem;
}

.social-media a:nth-child(3) {
  padding: 0.5rem 0.8rem;
}

.social-media a:nth-child(4) {
  padding: 0.5rem 0.8rem;
}

.social-media a:nth-child(5) {
  padding: 0.5rem 0.8rem;
}

.copy-right {
  font-family: "Oswald", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  text-align: center;
  color: var(--heading-color);
  padding: 1.2rem 0;
}

/* ends styling main */

/* start Responsive */

@media only screen and (min-width: 991px) {
  header {
    height: 52vh;
  }

  .title {
    font-size: 6rem;
    margin: 4rem 0rem 0rem 10rem;
    width: 50%;
    line-height: 7rem;
  }

  .content-title > p {
    padding-top: 0.5rem;
  }

  .hdn {
    visibility: hidden;
  }

  .all-content {
    margin-top: -40rem;
  }
}

@media only screen and (max-width: 990px) {
  .hdn {
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-title {
    visibility: hidden;
  }

  .img {
    visibility: hidden;
  }

  .contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .hdn-content {
    padding-top: 2.5rem;
  }

  .main-title-hdn {
    text-align: center;
    margin: 0.3rem 0rem 0 0;
  }

  .paragrahy {
    margin: -40rem 0 6rem 0;
  }

  .paragrahy .para {
    font-size: 2.1rem;
    width: 620px;
  }
}

@media only screen and (max-width: 767px) {
  .title {
    font-size: 4rem;
    width: 100%;
    margin: 0;
  }

  .content-title {
    margin: 4rem 0rem 0rem 4rem;
  }

  .content-title > p {
    margin: 0;
  }
}
/* ends Responsive */
