:root {
  --heading-color: #097168;
  --background-color: #dad3be;
  --fontground1-color: #3b3432;
  --fontground2-color: #ffffff;
  --gradient1: #ff9eaa;
  --gradient2: #83b4ff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
}

/* start styling header */

header {
  height: 48vh;
  background: linear-gradient(var(--gradient2) 40%, var(--gradient1));
}

.top-title {
  display: inline;
  font-size: 1.6rem;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: var(--fontground2-color);
  padding-left: 0.5rem;
}

.top {
  padding: 0.8rem 10rem;
}

.top-title-line {
  width: 120px;
  border: 1px solid var(--fontground2-color);
  opacity: 0%;
  margin-top: 0.7rem;
}

.top-title:hover .top-title-line {
  opacity: 100%;
  color: var(--fontground2-color);
  transition: opacity 0.2s ease-in-out;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 6rem;
  color: var(--fontground2-color);
  text-transform: capitalize;
  margin: 5rem 0rem 0rem 10rem;
}

.content-title > p {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: var(--fontground2-color);
  text-transform: capitalize;
  padding-top: 1rem;
  margin: 0 0 0 10rem;
}
/* Ends styling header */

/* start styling main */

.main-title {
  font-size: 6rem;
  text-transform: capitalize;
  text-align: right;
  margin: 1.5rem 20rem 0 0;
  color: var(--heading-color);
}

.main-title .main-line {
  border: 1px solid var(--heading-color);
  width: 415px;
  margin: 0 0 0 auto;
}

img {
  height: 50vh;
  border-radius: 80%;
  border: 8px solid #b7b597;
  margin: 0 0 0 2rem;
}

.para {
  font-size: 2.5rem;
  color: var(--fontground1-color);
  margin: 2rem 0 0 3rem;
  line-height: 3rem;
}

/* .content {
  width: 80%;
  margin: 0 auto;
} */

.contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  max-width: 900px;
}

/* ends styling main */
