:root {
  --background-color: #1a2130;
  --fontground-color: #ffffff;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
  color: var(--fontground-color);
}

/* start styling header */

header {
  width: 100%;
  height: 47vh;
  background-color: #ffffff;
}

.top-title {
  font-size: 1.6rem;
  font-weight: bolder;
  line-height: 2px;
}

.top {
  max-width: 9%;
  padding: 0.5rem 10rem;
}

/* Endsstyling header */
