:root {
  --background-color: #000000;
  --fontground-color: #dad3be;
  --gradient1: #ff9eaa;
  --gradient2: #83b4ff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--fontground-color);
  color: white;
}

/* start styling header */

header {
  height: 47vh;
  background: linear-gradient(var(--gradient2) 40%, var(--gradient1));
}

.top-title {
  font-size: 1.6rem;
  font-weight: bold;
}

.top {
  padding: 0.8rem 10rem;
}

hr {
  width: 120px;
  border: 1px solid white;
  opacity: 0%;
}

.top:hover hr {
  opacity: 100%;
  color: white;
  transition: opacity 0.5s ease-in-out;
}

.title {
  font-size: 6rem;
  text-transform: capitalize;
  margin: 8rem 0rem 0rem 10rem;
}

.content-title > p {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: capitalize;
  padding-top: 1.2rem;
  margin: 0 0 0 10rem;
}
/* Endsstyling header */
