:root {
  --heading-color: #097168;
  --fontground-color: #dad3be;
  --gradient1: #ff9eaa;
  --gradient2: #83b4ff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--fontground-color);
  color: white;
}

/* start styling header */

header {
  height: 48vh;
  background: linear-gradient(var(--gradient2) 40%, var(--gradient1));
}

.top-title {
  display: inline;
  font-size: 1.6rem;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  padding-left: 0.5rem;
}

.top {
  padding: 0.8rem 10rem;
}

.top-title-line {
  width: 120px;
  border: 1px solid white;
  opacity: 0%;
  margin-top: 0.7rem;
}

.top-title:hover .top-title-line {
  opacity: 100%;
  color: white;
  transition: opacity 0.5s ease-in-out;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 6rem;
  text-transform: capitalize;
  margin: 5rem 0rem 0rem 10rem;
}

.content-title > p {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  text-transform: capitalize;
  padding-top: 1rem;
  margin: 0 0 0 10rem;
}
/* Ends styling header */

/* start styling main */

.main-title {
  font-size: 6rem;
  text-transform: capitalize;
  text-align: right;
  margin: 1.5rem 20rem 0 0;
  color: var(--heading-color);
}

.main-title .main-line {
  border: 1px solid var(--heading-color);
}

/* ends styling main */
