* {
  border: 1px solid black;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.background-buildings {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

.building-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* start bb's */
.bb1 {
  width: 10%;
  height: 70%;
}

.bb1-window {
  height: 10%;
  background: linear-gradient(
    var(--color-black, black),
    var(--color-pink, violet)
  );
}

.bb1a {
  width: 70%;
  height: 10%;
}

.bb1b {
  width: 80%;
  height: 10%;
}

.bb1c {
  width: 90%;
  height: 10%;
}

.bb1d {
  width: 100%;
  height: 70%;
  background: linear-gradient(
    var(--color-black, black) 50%,
    var(--color-pink, violet)
  );
}
/* ends child's for bb1 */

.bb2 {
  width: 10%;
  height: 50%;
  background: var(--color2-green, #66cc99);
}

.bb2b {
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    var(--color2-green, #66cc99),
    var(--color2-green, #66cc99),
    6%,
    var(--color2-lightgreen, #8cd9b3) 6%,
    var(--color2-lightgreen, #8cd9b3) 9%
  );
}

.bb2a {
  border-bottom: 5vh solid var(--color2-green, #66cc99);
  border-left: 5vw solid transparent;
  border-right: 5vw solid transparent;
}
/* ends child's for bb2 */

.bb3 {
  width: 10%;
  height: 55%;
  background: repeating-linear-gradient(
    90deg,
    var(--color3-pink, #cc6699),
    var(--color3-pink, #cc6699),
    var(--color3-lightpink, #d98cb3) 15%
  );
}
/* ends for bb3 */

.bb4 {
  width: 11%;
  height: 58%;
}

.bb4a {
  width: 5%;
  height: 10%;
}

.bb4b {
  width: 80%;
  height: 5%;
}

.bb4c {
  width: 100%;
  height: 85%;
}
