:root {
  --building-color1: #538cc6;
  --building-color2: #66cc99;
  --building-color3: black;
  --building-color4: #cc6699;
  --building-color5: burlywood;
  --building-color6: #2ec7c0;
  --building-color7: #e8918b;
  --window-color1: #8cb3d9;
  --window-color2: #8cd9b3;
  --window-color3: gold;
  --window-color4: #8f00ff;
  --window-color5: #d98cb3;
  --window-color6: ghostwhite;
  --window-color7: #00abc5;
  --window-color8: #5c2727;
}

* {
  /* border: 1px solid black; */
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.background-buildings {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

.foreground-buildings {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

.building-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.window-wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* start bb's */
.bb1 {
  width: 10%;
  height: 70%;
  position: relative;
  right: 6%;
}

.bb1-window {
  height: 10%;
  background: linear-gradient(var(--window-color1), var(--building-color3));
}

.bb1a {
  width: 70%;
  height: 10%;
}

.bb1b {
  width: 80%;
  height: 10%;
}

.bb1c {
  width: 90%;
  height: 10%;
}

.bb1d {
  width: 100%;
  height: 70%;
  background: linear-gradient(var(--building-color3) 50%, var(--window-color1));
}
/* ends child's for bb1 */

.bb2 {
  width: 10%;
  height: 50%;
}

.bb2b {
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    var(--building-color2),
    var(--building-color2),
    6%,
    var(--window-color2) 6%,
    var(--window-color2) 9%
  );
}

.bb2a {
  border-bottom: 5vh solid var(--building-color2);
  border-left: 5vw solid transparent;
  border-right: 5vw solid transparent;
}
/* ends child's for bb2 */

.bb3 {
  width: 10%;
  height: 55%;
  background: repeating-linear-gradient(
    90deg,
    var(--building-color4),
    var(--building-color4),
    var(--window-color4) 12%
  );
}
/* ends for bb3 */

.bb4 {
  width: 11%;
  height: 58%;
}

.bb4-window {
  width: 18%;
  height: 90%;
  background: var(--window-color1);
}

.bb4a {
  width: 5%;
  height: 10%;
  background: var(--building-color1);
}

.bb4b {
  width: 80%;
  height: 5%;
  background: var(--building-color1);
}

.bb4c {
  width: 100%;
  height: 85%;
  background: var(--building-color1);
}
/* ends for bb4 */

/* start fb's */

.fb1 {
  width: 10%;
  height: 60%;
}

.fb1a {
  border-bottom: 7vh solid var(--building-color1);
  border-width: 2vw solid transparent;
  border-right: 2vw solid transparent;
  border-left: 2vw solid transparent;
}

.fb1b {
  width: 60%;
  height: 10%;
  background-color: var(--building-color1);
}

.fb1c {
  width: 100%;
  height: 80%;
  background: repeating-linear-gradient(
      var(--building-color1),
      var(--building-color1) 10%,
      transparent 10%,
      transparent 15%
    ),
    repeating-linear-gradient(
      5deg,
      var(--building-color1),
      var(--building-color1) 10%,
      var(--window-color1) 10%,
      var(--window-color1) 100%
    );
}
/* ends for child's fb1 */

.fb2 {
  width: 10%;
  height: 40%;
  position: relative;
  left: 5%;
}

.fb2a {
  width: 100%;
  border-bottom: 10vh solid var(--building-color4);
  border-left: 1vw solid transparent;
  border-right: 1vw solid transparent;
}

.fb2b {
  width: 100%;
  height: 75%;
  background-color: var(--building-color4);
}

.fb2-window {
  width: 22%;
  height: 100%;
  background-color: var(--window-color5);
}
/* ends for child's fb2 */

.fb3 {
  width: 10%;
  height: 35%;
}

.fb3a {
  width: 80%;
  height: 15%;
  background-color: var(--building-color5);
}

.fb3b {
  width: 100%;
  height: 35%;
  background-color: var(--building-color5);
}

.fb3-window {
  width: 25%;
  height: 80%;
  background-color: var(--window-color6);
}
/* ends for child's fb3 */

.fb4 {
  width: 8%;
  height: 45%;
  position: relative;
  left: 11%;
}

.fb4a {
  width: 8vw;
  height: 5vw;
  margin: auto;
  border-bottom: 1vw solid var(--building-color5);
  border-top: 1vw solid var(--building-color5);
  border-left: 1vw solid var(--building-color5);
  border-right: 1vw solid var(--building-color5);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.fb4b {
  width: 100%;
  height: 89%;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--building-color5);
}

.fb4-window {
  width: 30%;
  height: 10%;
  border-radius: 50%;
  margin: 10%;
  background-color: var(--window-color6);
}
/* ends for child's fb4 */

.fb5 {
  width: 10%;
  height: 33%;
  position: relative;
  right: 10%;
  background: repeating-linear-gradient(
      var(--building-color6) 0%,
      var(--building-color6) 5%,
      transparent 5%,
      transparent 10%
    ),
    repeating-linear-gradient(
      90deg,
      var(--building-color6),
      var(--building-color6) 12%,
      var(--window-color7) 12%,
      var(--window-color7) 44%
    );
}
/* ends fb5 */

.fb6 {
  width: 9%;
  height: 38%;
  background: repeating-linear-gradient(
      90deg,
      var(--building-color7) 0%,
      var(--building-color7) 10%,
      transparent 10%,
      transparent 30%
    ),
    repeating-linear-gradient(
      var(--building-color7),
      var(--building-color7) 10%,
      var(--window-color8) 10%,
      var(--window-color8) 30%
    );
}
/* ends fb6 */

.sky {
  background: radial-gradient(
    circle closest-corner at 15% 15%,
    #ffcf33,
    #ffcf33 20%,
    #ffff66 21%,
    #fff 100%
  );
}

@media (max-width: 1000px) {
  .sky {
    background: radial-gradient(
      circle closest-corner at 15% 15%,
      #ccc,
      #ccc 20%,
      #445 21%,
      #223 100%
    );
  }

  :root {
    --building-color1: black;
    --building-color2: black;
    --building-color3: black;
    --building-color4: black;
    --building-color5: black;
    --building-color6: black;
    --building-color7: black;
    --window-color1: gold;
    --window-color2: gold;
    --window-color3: gold;
    --window-color4: gold;
    --window-color5: gold;
    --window-color6: gold;
    --window-color7: gold;
    --window-color8: gold;
  }
}
