* {
  border: 1px solid black;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.background-buildings {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

.building-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bb1 {
  width: 10%;
  height: 70%;
  background-color: bisque;
}

.bb1a {
  width: 70%;
  height: 10%;
  background-color: azure;
}

.bb1b {
  width: 80%;
  height: 10%;
  background-color: lightblue;
}

.bb1c {
  width: 90%;
  height: 10%;
  background-color: darkblue;
}

.bb1d {
  width: 100%;
  height: 70%;
  background-color: gray;
}
/* ends child's for bb1 */

.bb2 {
  width: 10%;
  height: 50%;
  background-color: rebeccapurple;
}

.bb3 {
  width: 10%;
  height: 55%;
  background-color: goldenrod;
}

.bb4 {
  width: 11%;
  height: 58%;
  background-color: darkcyan;
}
