* {
    box-sizing: border-box;
  }

  .gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
  
body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f5f6f7;
  }
  
.header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background: #0a0a23;
    color: #fff;
    border-bottom: 4px solid #fdb347;
  }


.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
  gap: 16px;
}

.gallery::after {
  content: "";
  width: 350px;
}