body {
  padding: 50px;
}

/* .trigger {
  width: 200px;
  height: 200px;
  background: gainsboro;
  border: 20px solid gray;
} */

.box {
  display: inline-block;
  background: greenyellow;
  width: 200px;
  height: 200px;
  transition: all 0.5s linear;
  /* pointer-events: none; */
  /* transform: translate(200px, 150px) rotate(20deg); */
}

/* .trigger:hover .box {
  transform: translate(200px, 150px) rotate(20deg);
} */

.box:hover {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: brown;
  transform: rotate(90deg);
}
