body {
  padding: 20px;
}

.trigger {
  width: 200px;
  height: 200px;
}

.box {
  background: greenyellow;
  width: 200px;
  height: 200px;
  /* transform: translate(200px, 150px) rotate(20deg); */
  transition: transform 1s ease-in-out;
}

.box:hover {
  transform: translate(200px, 150px) rotate(20deg);
}
