body {
  padding: 20px;
}

/* .trigger {
  width: 200px;
  height: 200px;
  background: gainsboro;
  border: 20px solid gray;
} */

.box {
  display: inline-block;
  background: greenyellow;
  width: 200px;
  height: 200px;
  transition: transform 300ms ease-in-out;
  /* pointer-events: none; */
  /* transform: translate(200px, 150px) rotate(20deg); */
}

/* .trigger:hover .box {
  transform: translate(200px, 150px) rotate(20deg);
} */
