/* body {
  padding: 50px;
} */

/* .trigger {
  width: 200px;
  height: 200px;
  background: gainsboro;
  border: 20px solid gray;
} */

/* .box { */
/* display: inline-block;
  background: greenyellow;
  width: 200px;
  height: 200px;
  transition: all 0.5s linear; */
/* pointer-events: none; */
/* transform: translate(200px, 150px) rotate(20deg); */
/* } */

/* .trigger:hover .box {
  transform: translate(200px, 150px) rotate(20deg);
} */

/* .box:hover {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: brown;
  transform: rotate(90deg);
} */

* {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  animation: animate 16s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    background-image: url("./sunset-1.jpg");
    height: 100vh;
    background-size: cover;
  }

  50% {
    background-image: url("./moon-2.jpg");
  }

  75% {
    background-image: url("./beach-3.jpg");
  }
}
