h2 {
  text-align: center;
  padding-top: 50px;
  text-transform: capitalize;
  font-size: 28px;
  font-weight: bold;
  transition: transform 0.2s ease-in-out 0.1s;
}

h2:hover {
  transform: translateY(10px);
}

.box {
  width: 250px;
  height: 250px;
  background: burlywood;
}
