h2 {
  height: 200px;
  position: relative;
  text-align: center;
  text-transform: capitalize;
  font-size: 28px;
  font-weight: bold;
  transition: transform 0.2s ease-in-out 0.1s;
  animation-name: header;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes header {
  0% {
    top: -50px;
  }

  100% {
    top: 180px;
  }
}

h2:hover {
  transform: translateY(10px);
}

.box {
  width: 250px;
  height: 250px;
  position: relative;
  background: burlywood;
  /* margin: auto; */
  /* transition-property: background, border-radius, transform; */
  transition-property: all;
  /* transition-duration: 1s, 5s; */
  transition-duration: 1s;
  animation-name: box;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes box {
  0% {
    left: -50px;
  }

  100% {
    left: 550px;
  }
}

.box:hover {
  background: lightblue;
  border-radius: 20% 0 0 50%;
}

.btn {
  display: block;
  margin: 1rem auto;
  text-decoration: none;
  border: 1px solid lightblue;
  background: lightblue;
  animation-name: box;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
