* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f0c297;
}

html {
  font-size: 62.5%;
}

.container {
  background: #c98340;
  width: 90%;
  height: 85vh;
  margin: auto;
  margin-top: 4.5rem;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

ul li {
  list-style: none;
  padding: 1.1rem 0 0 1rem;
}

ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  text-transform: uppercase;
}

.nav-title {
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
}

.nav-para {
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.fas {
  font-size: 1.3rem;
  color: white;
  padding-left: 12px;
}

.icons {
  padding: 1.1rem 1rem 0 0;
}
