* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f0c297;
}

html {
  font-size: 62.5%;
}

.container {
  background: #c98340;
  width: 80%;
  height: 85vh;
  margin: auto;
  margin-top: 4.5rem;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

ul li {
  list-style: none;
  padding: 1.1rem 0 0 1rem;
}

ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  text-transform: uppercase;
}

.nav-title {
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
}

.nav-para {
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.fas {
  font-size: 1.3rem;
  color: white;
  cursor: pointer;
  padding-left: 12px;
}

.icons {
  padding: 1.1rem 1rem 0 0;
}

.text-main-right {
  color: white;
  text-align: right;
  padding-top: 2rem;
}

.para-main {
  font-size: 1.4rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
  margin-right: 32.5rem;
}

.title-main {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-right: 15.5rem;
}

.title-main i {
  transform: rotate(-16deg);
}

.para-main-two {
  text-align: left;
  width: 20%;
  font-size: 1.2rem;
  padding-top: 1rem;
  position: relative;
  left: 730px;
}

.salon {
  width: 450px;
  margin: 0 4rem;
  border-radius: 26% 74% 25% 75% / 23% 72% 28% 77%;
}

.round {
  background-color: #f0c297;
  width: 40%;
  margin: auto;
  border-radius: 26% 74% 25% 75% / 23% 72% 28% 77%;
}

.cream {
  height: 300px;
}

.title {
  font-family: "Playfair Display", serif;
  font-size: 6rem;
  color: white;
  text-align: center;
  text-transform: capitalize;
}
