body {
  background: linear-gradient(45deg, rgb(118, 201, 255), rgb(247, 255, 222));
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.ground {
  background: linear-gradient(90deg, rgb(88, 175, 236), rgb(182, 255, 255));
  width: 100vw;
  height: 400px;
  position: absolute;
}

.penguin {
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 75px;
}
