:root {
  --penguin-face: white;
  --penguin-skin: gray;
  --penguin-picorna: orange;
}

body {
  background: linear-gradient(45deg, rgb(118, 201, 255), rgb(247, 255, 222));
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.ground {
  background: linear-gradient(90deg, rgb(88, 175, 236), rgb(182, 255, 255));
  width: 100vw;
  height: 400px;
  position: absolute;
  margin-top: -58px;
  z-index: 3;
}

.penguin {
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 75px;
  position: relative;
}
.penguin-head {
  width: 50%;
  height: 45%;
  background: linear-gradient(45deg, var(--penguin-skin), rgb(239, 240, 228));
  border-radius: 70% 70% 65% 65%;
  position: absolute;
  top: 10%;
  left: 25%;
  z-index: 1;
}
.face {
  width: 60%;
  height: 70%;
  background-color: var(--penguin-face);
  border-radius: 70% 70% 60% 60%;
  top: 15%;
}
.face.left {
  position: absolute;
  left: 5%;
}
.face.right {
  position: absolute;
  right: 5%;
}
.chin {
  width: 90%;
  height: 70%;
  background-color: brown;
}

.left-mountain {
  width: 300px;
  height: 300px;
  background: linear-gradient(rgb(203, 241, 228), rgb(80, 183, 255));
  margin-top: 100px;
  position: absolute;
  transform: skew(0deg, 44deg);
  z-index: 2;
}

.back-mountain {
  width: 300px;
  height: 300px;
  background: linear-gradient(rgb(203, 241, 228), rgb(47, 170, 255));
  position: absolute;
  top: 225px;
  left: 110px;
  z-index: -1;
  transform: rotate(45deg);
}

.sun {
  width: 200px;
  height: 200px;
  background-color: yellow;
  border-radius: 50%;
  position: absolute;
  top: -75px;
  right: -75px;
}
