body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.label {
    border: 2px solid black;
    width: 250px;
    margin: 0px auto;
    padding: 0px 7px;
}

header h1 {
    font-weight: 800;
    margin: 0px;
}

.divider-small {
    border-bottom: 1px solid gray;
}

header p {
    margin: 0px;
    padding-bottom: 1px;
}

.bold {
    font-weight: 800;
}

p {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
