
body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.label {
    border: 2px solid black;
    width: 250px;
    margin: 0px auto;
    padding: 0px 7px;
}

header h1 {
    font-weight: 800;
    margin: 0px;
}

.divider-small {
    border-bottom: 1px solid gray;
}

header p {
    margin: 0px;
    padding-bottom: 1px;
}

.bold {
    font-weight: 800;
}

p {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.divider-large {
    border: 2px solid black;
    height: 6px;
    margin: 0px;
    background: black;
}

.info p {
    font-size: 32px;
    font-weight: 700;
    margin: -1 -2;
}

.info h2 {
    font-size: 16px;
    margin: 0;
}

.num {
    font-size: 38px;
    vertical-align: middle;
}

.divider-medium {
    border-bottom: 2px solid black;
    margin: -5 0 ;
    height: 3px;
    background-color: black;
}

#total-fat p {
    font-size: 14px;
    justify-content: end;
    border-bottom: 1px solid gray;
    margin-bottom: 2px;
}

.saturated, .trans, .Dietary, .Total {
    border-bottom: 1px solid gray;
    margin-left: 9px;
    margin-bottom: 2px;
    font-size: 14px;
}

.p {
    font-size: 14px;  
}