h1 {
    text-align: center;
  }
  
  .container {
    background-color: rgb(255, 255, 255);
    padding: 10px 0;
  }
  
  .marker {
    width: 200px;
    height: 25px;
    margin: 10px auto;
  }

  /* styling */

  /* style 2 */
  .red {
    background-color: rgb(0, 0, 0);
  }
  
  .two {
    background-color: rgb(0, 0, 0);
  }
  
  .three {
    background-color: rgb(0, 0, 0);
  }

  /* tertiary color 2*/

  .one {
    background-color: rgb(255, 127, 0);
  }
  /* orange */
  
  .two {
    background-color: rgb(0, 255, 127);
  }
  /* spring green */
  
  .three {
    background-color: rgb(127, 0, 255);
  }
  /* viotel */

  /* tertiary color 3 */
  .one {
    background-color: rgb(127, 255, 0); 
  }
  /* charteuse green, */
  
  .two {
    background-color: rgb(0, 127, 255);
  }
  /* azure */
  
  .three {
    background-color: rgb(255, 0, 127);
  }
  /* rose */

  /* hex value */