h1 {
    text-align: center;
  }
  
  .container {
    background-color: rgb(255, 255, 255);
    padding: 10px 0;
  }
  
  .marker {
    width: 200px;
    height: 25px;
    margin: 10px auto;
  }

  /* styling */

  /* style 2 */
  .red {
    background-color: rgb(0, 0, 0);
  }
  
  .two {
    background-color: rgb(0, 0, 0);
  }
  
  .three {
    background-color: rgb(0, 0, 0);
  }

  /* tertiary color 2*/

  .one {
    background-color: rgb(255, 127, 0);
  }
  /* orange */
  
  .two {
    background-color: rgb(0, 255, 127);
  }
  /* spring green */
  
  .three {
    background-color: rgb(127, 0, 255);
  }
  /* viotel */

  /* tertiary color 3 */
  .one {
    background-color: rgb(127, 255, 0); 
  }
  /* charteuse green, */
  
  .two {
    background-color: rgb(0, 127, 255);
  }
  /* azure */
  
  .three {
    background-color: rgb(255, 0, 127);
  }
  /* rose */

  /* hex value */
  .green {
    background-color: #007F00;
  }

  /* hsl function */
  .blue {
    background-color: hsl(240, 100%, 50%);
  }

  /* linear gradient */
  /* rgb function */
  .red {
    background: linear-gradient(180deg, rgb(122, 74, 14), 
    rgb(245, 62, 113), rgb(162, 27, 27));
  }

  /* linear gradient 2 */
  /* hex value */
  .green {
    background: linear-gradient(180deg, #55680D, #71F53E, #116C31);
  }
  /* sleeve style */
  .sleeve {
    width: 110px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    border-left-width: 10px;
    border-left-style: solid;
    border-left-color: black;
    /*  border-left: 10px solid black; */
  }

  /* cap style */
.cap {
  width: 60px;
  height: 25px;
}

/* cap sleeve style  */
.cap, .sleeve {
  display: inline-block;
}

/* red color */
.red {
  background: linear-gradient(rgb(122, 74, 14), rgb(245, 62, 113), rgb(162, 27, 27));
  box-shadow: 5px 5px red;
  /*  box-shadow: -5px -5px red;*/ 
  /* box-shadow: 0 0 20px 0 red; */
  /* box-shadow: 0 0 20px 0 rgba(83, 14, 14, 0.8); */
}

/* green color */
.green {
  background: linear-gradient(#55680D, #71F53E, #116C31);
  box-shadow: 5px 5px 5px green;
/* 0  0 20px 0  */
}