* {
  box-sizing: border-box;
}

body {
font-family: sans-serif;
}

.container {
    width: 80%;
    min-width: 98vw;
    height: 100%;
    background: rgb(171, 162, 162);
    display: block;
    justify-content: center;
    margin-top: 34px;
    border-radius: 6px;
}

h1, p {
    text-align: center;
}

h1 {
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: white;
    margin: 0px;
    padding-top: 28px;
}

p {
    font-family: sans-serif;
    font-size: 16px;
    color: white;
}

.white-container {
    width: 100%;
    max-width: 90%;
    height: 80%;
    background: white;
    display: block;
    justify-content: center;
    margin: 0 auto;
    border-radius: 1.5em 0px 0px 0px;
}

img {
    width: 60%;
    min-width: 80%;
    height:90%;
    display: flex;
    /* justify-content: center; */
    margin: 0 auto;
}

.white-container img {
    object-fit: cover;
}

.img-text {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding-top: 14px;
    font-size: 15px;
}

h3 {
   font-weight: 700;
}

.info {
    width: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
