* {
  box-sizing: border-box;
}

.container {
    width: 80%;
    min-width: 98vw;
    height: 100vh;
    background: rgb(171, 162, 162);
    display: block;
    justify-content: center;
}

h1, p {
    text-align: center;
}

h1 {
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: white;
    margin: 0px;
    padding-top: 28px;
}

p {
    font-family: sans-serif;
    font-size: 16px;
    color: white;
}