* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7rem;
  background-color: whitesmoke;
  padding: 2rem;
  position: fixed;
  right: 0;
  left: 0;
}

.nav-image {
  width: 22%;
  object-fit: fill;
  background-color: whitesmoke;
}

.nav-list a {
  text-decoration: none;
  color: black;
}

.nav-list li {
  list-style: none;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
}
/* end navbar */

#heading {
  text-align: center;
  padding-top: 8rem;
}

.heading-title {
  font-size: 3rem;
  padding-bottom: 1.5rem;
}

input[type="email"] {
  width: 22%;
  height: 1em;
  padding: 0.75rem;
}

input[type="submit"] {
  width: 12%;
  height: 2em;
  margin-top: 1.5rem;
  background-color: gold;
  color: black;
  font-weight: 800;
  font-size: 1.7rem;
  padding: 0 0.75rem 0 0.75rem;
  border: none;
}
