* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: whitesmoke;
}

/* start header */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 30px;
  position: fixed;
  right: 0;
  left: 0;
  background-color: whitesmoke;
}

.logo {
  width: 22%;
  object-fit: fill;
  margin-right: auto;
}

.nav-list li {
  font-size: 1.7rem;
  display: inline-block;
  padding: 0 10px;
}

.nav-list a {
  text-decoration: none;
  color: goldenrod;
}

.nav-list li {
  list-style: none;
}

/* end header */

article {
  padding-top: 10rem;
  text-align: center;
}

.heading-title {
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
}

input[type="email"] {
  width: 20%;
  height: 2.5em;
  padding: 0.75rem;
}

input[type="submit"] {
  height: 2em;
  margin-top: 1.5rem;
  background-color: gold;
  color: black;
  font-weight: 800;
  font-size: 1.7rem;
  padding: 0 0.75rem 0 0.75rem;
  border: none;
  cursor: pointer;
}
/* end header */

p {
  font-size: 1.7rem;
}

.fas {
  font-size: 5rem;
  color: orange;
  margin-bottom: 5rem;
}

.fa-fire {
  margin-right: 1.7rem;
}

h2 {
  font-size: 2.5rem;
}

.description p {
  margin-top: -8px;
}

#Features {
  width: 70%;
  max-width: 70%;
  margin: auto;
  padding: 10rem 0 5rem 0;
}

.feature {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 12rem;
}

.description {
  text-align: left;
  padding-bottom: 4rem;
}
/* end section features */

.video {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* end section video */

.card-text {
  margin-top: 8rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 10rem;
}

h4 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.fund {
  font-size: 3rem;
  font-weight: 600;
}

#card {
  width: 310px;
  border: 1px solid black;
}

#card .card-title h4 {
  background-color: gold;
  padding: 1rem;
}

#card .card-description p {
  margin: 1rem 0 0 0;
}

button {
  margin: 2.5rem;
  background-color: gold;
  color: black;
  font-weight: 500;
  font-size: 1.7rem;
  padding: 0.75rem;
  border: none;
}

button:hover {
  background-color: goldenrod;
}

footer {
  background-color: gold;
  padding: 2rem;
  width: 73%;
  max-width: 920px;
  margin: auto;
  text-align: right;
  opacity: 0.8;
}

footer p {
  font-size: 1.5rem;
  padding-top: 0.5rem;
  font-weight: bolder;
  color: black;
}

.footer-list a {
  font-size: 1.75rem;
  font-weight: bolder;
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 990px) {
  .card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 1000px) {
  footer {
    width: 100%;
    text-align: center;
  }

  footer p {
    padding-right: 3rem;
  }

  footer a {
    margin-right: 3rem;
  }
}

@media only screen and (max-width: 550px) {
  .feature,
  .fas .description {
    display: block;
    margin-top: -10rem;
  }

  .fas {
    visibility: hidden;
  }

  .description p {
    text-align: left;
    display: inline-block;
  }

  .description h2 {
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  header {
    display: flex;
    flex-direction: column;
  }
}
