* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: whitesmoke;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7rem;
  background-color: whitesmoke;
  padding: 2rem;
  position: fixed;
  right: 0;
  left: 0;
}

.nav-image {
  width: 22%;
  object-fit: fill;
  background-color: whitesmoke;
}

.nav-list a {
  text-decoration: none;
  color: black;
}

.nav-list li {
  list-style: none;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
}
/* end navbar */

article {
  padding-top: 14rem;
}
/* #heading {
  text-align: center;
  padding-top: 8rem;
}

.heading-title {
  font-size: 3rem;
  padding-bottom: 1.5rem;
} */

input[type="email"] {
  width: 22%;
  height: 1em;
  padding: 0.75rem;
}

input[type="submit"] {
  height: 2em;
  margin-top: 1.5rem;
  background-color: gold;
  color: black;
  font-weight: 800;
  font-size: 1.7rem;
  padding: 0 0.75rem 0 0.75rem;
  border: none;
}
/* end header */

p {
  font-size: 1.7rem;
}

.fas {
  font-size: 5rem;
  color: orange;
  margin-bottom: 5rem;
}

.fa-fire {
  margin-right: 1.7rem;
}

h2 {
  font-size: 2.5rem;
}

.description p {
  margin-top: -8px;
}

#Features {
  width: 70%;
  max-width: 70%;
  margin: auto;
  padding: 10rem 0 5rem 0;
}

.feature {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 12rem;
}

.description {
  text-align: left;
  padding-bottom: 4rem;
}
/* end section features */

.video {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* end section video */

.card-text {
  margin-top: 8rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 10rem;
}

h4 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.fund {
  font-size: 3rem;
  font-weight: 600;
}

#card {
  width: 310px;
  border: 1px solid black;
}

#card .card-title h4 {
  background-color: gold;
  padding: 1rem;
}

#card .card-description p {
  margin: 1rem 0 0 0;
}

button {
  margin: 2.5rem;
  background-color: gold;
  color: black;
  font-weight: 500;
  font-size: 1.7rem;
  padding: 0.75rem;
  border: none;
}

button:hover {
  background-color: goldenrod;
}

footer {
  background-color: gainsboro;
  padding: 2rem;
  width: 73%;
  max-width: 920px;
  margin: auto;
  text-align: right;
}

footer p {
  font-size: 1.5rem;
  padding-top: 0.5rem;
  font-weight: lighter;
}

.footer-list a {
  font-size: 1.75rem;
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 990px) {
  .card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 1000px) {
  footer {
    width: 100%;
    text-align: center;
  }

  footer p {
    padding-right: 3rem;
  }

  footer a {
    margin-right: 3rem;
  }

  .fas {
    visibility: hidden;
    overflow: hidden;
  }
}
