* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}

.nav-image {
  width: 22%;
}
