* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  background-color: #22438c;
}

ul li {
  display: inline-block;
  position: relative;
}

ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding: 20px 25px;
  text-align: center;
}
