header {
    background: slateblue;
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    padding: 20px;
    text-align: center;
    border-bottom: 6px solid cyan;
}

body {
    margin: 0px;
}

.gallery img {
    width: 100%;
    height:  300px;
    max-width: 350px;
    border-radius: 10px;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 14px;
    margin: 20px 0 25px 0 ;
}

/* .gallery::after {
    content: "";
    width: 300px;
} */