* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: LabGrotesque, Helvetica Neue, Helvetica, Arial, sans-serif;
}

#Heading {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #767676;
  width: min-content;
}

.text-logo {
  font-size: 3rem;
  font-weight: bolder;
  text-decoration: none;
  color: #333;
}

.logo {
  width: 62%;
}

nav ul li {
  font-size: 1.75rem;
  font-weight: normal;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  text-transform: capitalize;
  color: #767676;
}

.nav-head {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 40px;
  padding: 2.5rem;
}

.btn a {
  text-decoration: none;
  color: #fff;
}

.btn {
  border: none;
  font-size: 2.2rem;
  text-transform: capitalize;
  background-color: #04ddb2;
  border-radius: 2.2rem;
  padding: 1rem 1.2rem;
}
