:root {
  --Icons-color: #04ddb2;
  --Heading-color: #333;
  --Fontground-color: #767676;
  --FontIcons-color: #fff;
  --FrameVideo-color: #e2e5de;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: LabGrotesque, Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* Start Heading */
#Heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
  backdrop-filter: blur(20px);
  padding: 0 4rem;
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: min-content;
}

.text-logo {
  font-size: 3rem;
  font-weight: bolder;
  text-decoration: none;
  color: var(--Heading-color);
}

.logo {
  width: 62%;
}

nav ul li {
  font-size: 1.75rem;
  font-weight: normal;
  list-style: none;
  transition: all 0.3s ease-in-out;
}
nav ul li:hover {
  transform: scale(1.1);
  color: var(--Heading-color);
  font-weight: 400;
}

nav ul li a {
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: var(--Fontground-color);
}

.nav-head {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 4rem;
  padding: 2.5rem;
}

.btn a {
  text-decoration: none;
  color: var(--FontIcons-color);
}

.btn {
  border: none;
  font-size: 2.2rem;
  text-transform: capitalize;
  background-color: var(--Icons-color);
  border-radius: 2.2rem;
  padding: 1rem 1.2rem;
  transition: transform 0.3s ease-in-out;
}
.btn:hover {
  transform: scale(1.1);
}

/* Ends Heading */

/* Start Main */
#Main {
  padding-top: 14rem;
}

.main-title {
  text-align: center;
  padding-bottom: 7rem;
}

.title {
  font-size: 6rem;
  color: var(--Heading-color);
}

.shades {
  color: var(--Icons-color);
}

.para-main {
  font-size: 2.5rem;
  color: var(--Heading-color);
  padding-top: 1rem;
  margin: auto;
  width: 500px;
}

.frame {
  text-align: center;
  background-color: var(--FrameVideo-color);
  border-radius: 22px;
  margin: auto;
  width: 65%;
  transition: all 0.5s ease-in-out;
}
.frame:hover {
  box-shadow: 20px 20px 70px 6px rgba(197, 194, 194, 0.8);
}

embed {
  padding: 4rem 2rem;
}

.main-bottom {
  text-align: center;
  padding: 8rem 0;
}

.last-title {
  font-size: 6rem;
  color: var(--Heading-color);
  padding-bottom: 4rem;
  margin: auto;
  width: 40%;
}

.last-btn {
  border: none;
  font-size: 2.2rem;
  text-transform: capitalize;
  background-color: var(--Icons-color);
  border-radius: 2.2rem;
  padding: 1rem 1.2rem;
  transition: transform 0.3s ease-in-out;
}
.last-btn:hover {
  transform: scale(1.1);
}

.last-btn a {
  text-decoration: none;
  color: var(--FontIcons-color);
  padding: 1.5rem 2rem;
}
/* Ends Main  */

/* Start Footer */
.ul-footer {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 4rem 0 10rem 0;
  width: 80%;
  margin: auto;
}

.container-logo-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: min-content;
}

.text-logo-footer {
  text-transform: lowercase;
  font-weight: bold;
  font-size: 2.5rem;
  text-decoration: none;
  color: var(--Heading-color);
  cursor: default;
}

.logo-footer {
  width: 62%;
}

.ul-footer li {
  font-weight: bold;
  text-transform: capitalize;
  list-style: none;
  color: var(--Heading-color);
  cursor: default;
}

footer ul li p {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--Fontground-color);
  padding-top: 2rem;
  cursor: default;
}

.ul-footer li .transition {
  transition: transform 0.3s ease-in-out;
}

.ul-footer li .transition:hover {
  transform: scale(1.1);
}

.ul-footer li p a {
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--Fontground-color);
}

i {
  font-size: 1.8rem;
  background-color: var(--Icons-color);
  color: var(--FontIcons-color);
  padding: 0.7rem 0.7rem;
  border-radius: 50px;
  transition: transform 0.3s ease-in-out;
}

i:hover {
  transform: scale(1.1);
}

footer hr {
  width: 74%;
  margin: auto;
}
/* Ends Footer */

@media only screen and (max-width: 1200px) {
  #Heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5rem;
  }

  .title {
    font-size: 5rem;
  }

  .last-title {
    font-size: 5rem;
    width: 38%;
  }
}

@media only screen and (max-width: 650px) {
  .para-main {
    font-size: 1.8rem;
    width: 420px;
  }
}
