* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: LabGrotesque, Helvetica Neue, Helvetica, Arial, sans-serif;
}

#Heading {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
  backdrop-filter: blur(20px);
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: min-content;
}

.text-logo {
  font-size: 3rem;
  font-weight: bolder;
  text-decoration: none;
  color: #333;
}

.logo {
  width: 62%;
}

nav ul li {
  font-size: 1.75rem;
  font-weight: normal;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: #767676;
}

.nav-head {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 35px;
  padding: 2.5rem;
}

.btn a {
  text-decoration: none;
  color: #fff;
}

.btn {
  border: none;
  font-size: 2.2rem;
  text-transform: capitalize;
  background-color: #04ddb2;
  border-radius: 2.2rem;
  padding: 1rem 1.2rem;
}

#Main {
  padding-top: 14rem;
}

.main-title {
  text-align: center;
  padding-bottom: 7rem;
}

.title {
  font-size: 6rem;
  color: #333;
}

.shades {
  color: #04ddb2;
}

.para-main {
  font-size: 2.5rem;
  color: #333;
  padding-top: 1rem;
  margin: auto;
  width: 44%;
}

.frame {
  text-align: center;
  background-color: #e0e0e0;
  padding-bottom: 6rem;
}

.main-bottom {
  text-align: center;
}
