* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: LabGrotesque, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-logo {
  font-size: 3rem;
  font-weight: bolder;
  text-decoration: none;
  color: #333;
}

.logo {
  width: 4%;
}

nav ul li {
  font-size: 2.5rem;
}

nav ul li a {
  text-decoration: none;
  text-transform: capitalize;
  color: #767676;
}

.btn a {
  text-decoration: none;
  color: #fff;
}

.btn {
  border: none;
  font-size: 2.2rem;
  text-transform: capitalize;
  background-color: #04ddb2;
}
