body {
    background-image: url(./img/freecodecamp-survey-form.jpg);
}

.menu {
    width: 50%;
    background-color:rgb(5, 27, 66);
    margin: 0 auto;
    border-radius: 4px;
}

h1, p {
    color: white;
    text-align: center;
    font-family: sans-serif italic;
    margin: 10px 0px 4px 0;
}

h1 {
    font-size: 36px;
    padding-top: 32px;
}

p {
    padding: 0px 0px 20px 0px;
}

label {
    color: white;
    font-size: 20px;
    margin: 10px 0px 0px 6px;
    display: block;
    font-family: sans-serif;
}

.inline {
    display: block;
    width: 90%;
    margin: 1em;
    border-radius: 6px;
    min-height: 2rem;
}

.inline {
    margin-left: 25px;
    margin-right: 5px;
}

fieldset {
    border: none;
}

input[type="radio"] {
    transform: scale(1.5);
    margin-left: 28px;
    margin-right: 0.5em;
}

input[type="checkbox"] {
    transform: scale(1.5);
    margin-left: 16px;
    margin-right: 0.5em;
}

select {
    display: block;
    width: 91%;
    min-height: 2.5em;
    margin-left: 24px;
    margin-top: 2em;
    margin-bottom: 1.5em;
}

