body {
    background-image: url(./img/freecodecamp-survey-form.jpg);
}

.menu {
    width: 50%;
    background-color:rgb(5, 27, 66);
    margin: 0 auto;
}

h1, p {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0px 4px 0;
}

h1 {
    font-size: 36px;
    padding-top: 32px;
}

p {
    padding: 0px 0px 20px 0px;
}

label {
    color: white;
    font-size: 20px;
    margin: 10px 0px 0px 6px;
}

.inline {
    display: block;
    width: 70%;
    height: 2em;
    margin: 1em;
}

fieldset {
    border: none;
}

