body {
    background-image: url(./img/freecodecamp-survey-form.jpg);
}

.menu {
    width: 50%;
    background-color:cornflowerblue;
    margin: 0 auto;
}

h1, p {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0px 4px 0;
}

h1 {
    font-size: 36px;
}

p {
    padding: 0px 0px 20px 0px;
}
