* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

/* start Navbar */
#navbar {
  background-color: #ff40a0;
  font-size: 1.77rem;
  font-weight: bolder;
  font-family: "Agdasima", sans-serif;
}

nav {
  height: 50px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 12px;
}

ul li {
  list-style: none;
}

li a {
  color: white;
  text-decoration: none;
  padding: 10px;
}
/* ends Navbar */

/* start Heading */
#heading {
  width: 100%;
  height: 60vh;
  background-color: #ff40a0;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content img {
  width: 300px;
  border-radius: 50% 50% 30% 30%;
}

.content p {
  max-width: 600px;
  color: gray;
  font-size: 2.5rem;
  text-transform: capitalize;
  text-align: center;
  padding-top: 60px;
}

.btn {
  position: absolute;
  top: 204px;
  left: 786px;
  margin: auto;
  padding: 0.5rem 1.85rem;
  color: white;
  background-color: goldenrod;
  border: none;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
}

.btn a {
  text-decoration: none;
  color: white;
}

.btn:hover {
  background: #ff40a0;
  border: 4px solid goldenrod;
}
/* ends Heading */

#About-Work {
  padding-top: 40px;
  text-align: center;
}

.about-title {
  color: goldenrod;
  font-size: 3.75rem;
  font-family: "Agdasima", sans-serif;
  padding-bottom: 0.5rem;
}

.para {
  font-size: 2.5rem;
  text-transform: capitalize;
  text-align: center;
  padding: 0 4rem;
  color: gray;
}

.para::first-letter {
  color: goldenrod;
  font-size: 2.85rem;
}

/* start All Contract's */
#All-Contract {
  width: 100%;
  height: 60vh;
}

.cards {
  margin-top: 40px;
  text-align: center;
}

.card-title {
  color: goldenrod;
  font-size: 3.75rem;
  font-family: "Agdasima", sans-serif;
}

.fas {
  font-size: 3rem;
  color: black;
}

.card-p {
  font-size: 2rem;
  color: gray;
  text-transform: capitalize;
}

/* start card-file */
.card-file {
  width: 30%;
  margin: 0 10px;
  background-color: #ff40a0;
  border-radius: 10px;
}

.card-file i {
  padding: 12px 0;
}

.card-file p {
  padding: 4px 2px 5px 2px;
  color: white;
}
/* ends card-file */

/* start card-hammer */
.card-hammer {
  width: 30%;
  margin: 0 10px;
  background-color: #ff40a0;
  border-radius: 10px;
}

.card-hammer i {
  padding: 12px 0;
}

.card-hammer p {
  padding: 4px 2px 5px 2px;
  color: white;
}
/* ends card-hammer */

.card-pen {
  width: 30%;
  margin: 0 10px;
  background-color: #ff40a0;
  border-radius: 10px;
}

.card-pen i {
}

.card-pen p {
  padding: 4px 2px 5px 2px;
  color: white;
}

/* ends All Contract's */
