* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

/* start Navbar */
#navbar {
  background-color: #ff40a0;
  font-size: 1.77rem;
  font-weight: bolder;
  font-family: "Agdasima", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.9;
  z-index: 1;
}

nav {
  height: 50px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 12px;
}

ul li {
  list-style: none;
}

li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: font-size 1s ease-in-out;
}

li a:hover {
  font-size: 1.9rem;
}
/* ends Navbar */

/* start Heading */
header {
  padding: 5rem 0;
}

#heading {
  width: 100%;
  height: 60vh;
  background-color: #ff40a0;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content img {
  width: 300px;
  border-radius: 50% 50% 30% 30%;
}

.content p {
  max-width: 600px;
  color: whitesmoke;
  font-size: 2.5rem;
  text-transform: capitalize;
  text-align: center;
  padding-top: 60px;
}

/* ends Heading */

/*start About-Work */
#About-Work {
  margin: 40px 0;
  text-align: center;
}

.about-title {
  color: goldenrod;
  font-size: 3.75rem;
  font-family: "Agdasima", sans-serif;
  margin: 40px 0 28px 0;
}

.para {
  font-size: 2.5rem;
  text-transform: capitalize;
  text-align: center;
  padding: 0 4rem;
  color: gray;
  margin-top: 0px;
}

.para::first-letter {
  color: goldenrod;
  font-size: 2.85rem;
}
/*ends About-Work */

/* start All Contract's */
#All-Contract {
  width: 100%;
  height: 50vh;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-title {
  color: goldenrod;
  font-size: 3.75rem;
  font-family: "Agdasima", sans-serif;
  text-align: center;
  margin: 40px 0;
}

.fas {
  font-size: 3rem;
  color: black;
}

.card-p {
  font-size: 2rem;
  color: gray;
  text-transform: capitalize;
  text-align: center;
}

/* start card-file */
.card-file {
  width: 30%;
  margin: 0 10px;
  background-color: #ff40a0;
  border-radius: 10px;
}

.card-file i {
  display: block;
  padding: 12px 0;
  text-align: center;
}

.card-file p {
  padding: 4px 2px 5px 2px;
  color: white;
}
/* ends card-file */

/* start card-hammer */
.card-hammer {
  width: 30%;
  margin: 0 10px;
  background-color: #ff40a0;
  border-radius: 10px;
}

.card-hammer i {
  display: block;
  padding: 12px 0;
  text-align: center;
}

.card-hammer p {
  padding: 4px 2px 5px 2px;
  color: white;
}
/* ends card-hammer */

/* start card-pen */
.card-pen {
  width: 30%;
  margin: 0 10px;
  background-color: #ff40a0;
  border-radius: 10px;
}

.card-pen i {
  display: block;
  padding: 12px 0;
  text-align: center;
}

.card-pen p {
  padding: 4px 2px 5px 2px;
  color: white;
}
/* ends card-pen */

/* start card-envelope */
.card-envelope {
  width: 30%;
  margin: 0 10px;
  background-color: #ff40a0;
  border-radius: 10px;
}

.card-envelope i {
  display: block;
  padding: 12px 0;
  text-align: center;
}

.card-envelope p {
  padding: 4px 2px 5px 2px;
  color: white;
}
/* ends card-envelope */

.transition {
  transition: all 0.5s ease-in-out;
}

.transition:hover {
  transform: scale(1.05);
}
/* ends All Contract's */

/* start Templates-We-Made */
#Templates-We-Made {
  width: 100%;
}

.template-title {
  text-align: center;
  font-size: 3.75rem;
  font-family: "Agdasima", sans-serif;
  color: goldenrod;
  margin: 40px 0;
}

.wrap-caption {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px 0px;
  justify-items: center;
  align-items: center;
  margin-bottom: 10rem;
}

.caption {
  box-shadow: 0px 0px 4px 2px gray;
  border-radius: 12px;
}

.caption:hover {
  box-shadow: none;
  transition: all 0.5s ease-in-out;
}

/* images */
.images-1 {
  width: 600px;
  height: 500px;
  border-radius: 12px;
}

.images-2 {
  width: 600px;
  height: 500px;
  border-radius: 12px;
}

.images-3 {
  width: 600px;
  height: 500px;
  border-radius: 12px;
}

.images-4 {
  width: 600px;
  height: 500px;
  border-radius: 12px;
}
/* images */

.image-text {
  text-align: center;
  font-size: 1.45rem;
  color: #ff40a0;
  font-weight: bold;
  text-transform: capitalize;
}

.image-text::before {
  content: " '' ";
}

.image-text::after {
  content: " '' ";
}
/* ends Templates-We-Made */

/* start Footer */
#footer {
  width: 100%;
}

.footer-content {
  text-align: center;
  background-color: #ff40a0;
  border-top-left-radius: 60%;
  border-top-right-radius: 60%;
}

.border {
  width: 6%;
  height: 3%;
  background-color: white;
  position: absolute;
  left: 47%;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.footer-p {
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  position: relative;
  bottom: 90px;
}

.footer-content span {
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: bolder;
  color: white;
  text-decoration: underline;
  position: relative;
  bottom: 90px;
}

.logo-footer {
  position: relative;
  bottom: 60px;
}
/* ends Footer */

/* NavBar Smooth */
@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

/* Logo-Header Responsive */
@media only screen and (max-width: 930px) {
  .content img {
    visibility: hidden;
  }

  .content {
    display: block;
    position: relative;
  }

  .content p {
    position: absolute;
    top: 16%;
    left: 16%;
    right: 8%;
    font-size: 2.2rem;
  }
}

/* Header Responsive */
@media only screen and (max-width: 640px) {
  .para {
    font-size: 2rem;
    padding: 0 1rem;
  }
}

/* first-Card Responsive */
@media only screen and (max-width: 1280px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 12px;
    justify-items: center;
  }

  .card-file {
    width: 55%;
    height: 100%;
  }

  .card-hammer {
    width: 55%;
    height: 100%;
  }

  .card-pen {
    width: 55%;
    height: 100%;
  }

  .card-envelope {
    width: 55%;
    height: 100%;
  }

  .card-p {
    font-size: 1.9rem;
  }
}

/* Second-Card Responsive */
@media only screen and (max-width: 1105px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(1, 610px);
  }
}

/* First-Template Responsive */
@media only screen and (max-width: 1230px) {
  .wrap-caption {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
  }
}

/* Second-Template Responsive */
@media only screen and (max-width: 640px) {
  .wrap-caption {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
  }

  .images-1 {
    width: 470px;
  }

  .images-2 {
    width: 470px;
  }

  .images-3 {
    width: 470px;
  }

  .images-4 {
    width: 470px;
  }

  /* Footer Responsive */
  .footer-content {
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
  }

  .logo-footer {
    visibility: hidden;
  }

  .border {
    visibility: hidden;
  }

  .footer-p {
    font-size: 1.7rem;
  }
}
