* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

/* start Navbar */
#navbar {
  background-color: #ff40a0;
  font-size: 1.77rem;
  font-weight: bolder;
  font-family: "Agdasima", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav {
  height: 50px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 12px;
}

ul li {
  list-style: none;
}

li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: font-size 1s ease-in-out;
}

li a:hover {
  font-size: 1.9rem;
}
/* ends Navbar */

/* start Heading */
header {
  padding: 5rem 0;
}

#heading {
  width: 100%;
  height: 60vh;
  background-color: #ff40a0;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content img {
  width: 300px;
  border-radius: 50% 50% 30% 30%;
}

.content p {
  max-width: 600px;
  color: whitesmoke;
  font-size: 2.5rem;
  text-transform: capitalize;
  text-align: center;
  padding-top: 60px;
}

/* ends Heading */

/*start About-Work */
#About-Work {
  margin: 40px 0;
  text-align: center;
}

.about-title {
  color: goldenrod;
  font-size: 3.75rem;
  font-family: "Agdasima", sans-serif;
  margin: 40px 0 28px 0;
}

.para {
  font-size: 2.5rem;
  text-transform: capitalize;
  text-align: center;
  padding: 0 4rem;
  color: gray;
  margin-top: 0px;
}

.para::first-letter {
  color: goldenrod;
  font-size: 2.85rem;
}
/*ends About-Work */

/* start All Contract's */
#All-Contract {
  width: 100%;
  height: 50vh;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-title {
  color: goldenrod;
  font-size: 3.75rem;
  font-family: "Agdasima", sans-serif;
  text-align: center;
  margin: 40px 0;
}

.fas {
  font-size: 3rem;
  color: black;
}

.card-p {
  font-size: 2rem;
  color: gray;
  text-transform: capitalize;
  text-align: center;
}

/* start card-file */
.card-file {
  width: 30%;
  margin: 0 10px;
  background-color: #ff40a0;
  border-radius: 10px;
}

.card-file i {
  display: block;
  padding: 12px 0;
  text-align: center;
}

.card-file p {
  padding: 4px 2px 5px 2px;
  color: white;
}
/* ends card-file */

/* start card-hammer */
.card-hammer {
  width: 30%;
  margin: 0 10px;
  background-color: #ff40a0;
  border-radius: 10px;
}

.card-hammer i {
  display: block;
  padding: 12px 0;
  text-align: center;
}

.card-hammer p {
  padding: 4px 2px 5px 2px;
  color: white;
}
/* ends card-hammer */

/* start card-pen */
.card-pen {
  width: 30%;
  margin: 0 10px;
  background-color: #ff40a0;
  border-radius: 10px;
}

.card-pen i {
  display: block;
  padding: 12px 0;
  text-align: center;
}

.card-pen p {
  padding: 4px 2px 5px 2px;
  color: white;
}
/* ends card-pen */

/* start card-envelope */
.card-envelope {
  width: 30%;
  margin: 0 10px;
  background-color: #ff40a0;
  border-radius: 10px;
}

.card-envelope i {
  display: block;
  padding: 12px 0;
  text-align: center;
}

.card-envelope p {
  padding: 4px 2px 5px 2px;
  color: white;
}
/* ends card-envelope */

.transition {
  transition: all 0.5s ease-in-out;
}

.transition:hover {
  transform: scale(1.05);
}
/* ends All Contract's */

#Templates-We-Made {
  width: 100%;
  height: 50vh;
}

.template-title {
  text-align: center;
  font-size: 3.75rem;
  font-family: "Agdasima", sans-serif;
  color: goldenrod;
}

.images-1 {
  width: 600px;
}

.images-2 {
  width: 600px;
}

.images-3 {
  width: 600px;
}

.images-4 {
  width: 600px;
}
