* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

#navbar {
  background-color: #ff40a0;
  font-size: 1.65rem;
  font-weight: bolder;
}

nav {
  height: 50px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 12px;
}

ul li {
  list-style: none;
}

li a {
  color: white;
  text-decoration: none;
  padding: 10px;
}
