* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

#navbar {
  background-color: #ff40a0;
  font-size: 1.77rem;
  font-weight: bolder;
  font-family: "Agdasima", sans-serif;
}

nav {
  height: 50px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 12px;
}

ul li {
  list-style: none;
}

li a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

#heading {
  width: 100%;
  height: 60vh;
  background-color: #ff40a0;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content img {
  width: 300px;
  border-radius: 50% 50% 30% 30%;
}

.content p {
  max-width: 600px;
  color: white;
  font-size: 2.5rem;
  text-transform: capitalize;
  text-align: center;
  padding-top: 60px;
}

.btn {
  display: block;
  margin: auto;
  padding: 0.5rem 1.85rem;
  color: white;
  background-color: goldenrod;
}
